@using ItsRunnerBgl.Models.Models
@model ItsRunnerBgl.Models.Models.Activity
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env

@{
    ViewData["Title"] = "Dettaglio allenamento";
    ViewData["Default0"] = "iVBORw0KGgoAAAANSUhEUgAAAgUAAAGVCAIAAADhcBWEAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAFbxSURBVHhe7b0PjBzXnd/pxeVi5hIsdLjLRnG0OV1sBDwLWcjCYSMpuwB9yMkEFnZ4Fxtizo4g2IGWtqMFYShnKSefBEh7vEjW0jxrTSbaWyrMmtyjYTJchiLF8+xIIqUhj+RQIqmhPOIfDU3OPw5nume6p7unp4f3Lb43v3nzqru6uruq+lX194sPiOrq5vSr6le/7/v/PnWboiiKom7fph9QFEVRnugHFEVRlCf6AUVRFOWJfkBRFEV5oh9QFEVRnugHFEVRlCf6AUVRFOWJfkBRFEV5oh9QFEVRnugHFEVRlCf6AUVRFOWJfkBRFEV5oh9QFEVRnugHFEVRlCf6AUVRFOWJfkBRFEV5oh9QFEVRnugHFEVRlCf6AUVRFOWJfkBRFEV5oh9QFEVRnugHFEVRlCf6AUVRFOWJfkBRFEV5oh9QFEVRnugHFEVRlCf6AUVRFOWJfkBRFEV5oh9QFEVRnugHFEVRlCf6AUVRFOWJfkBRFEV5oh9QFEVRnugHFEVRlCf6AUVRFOWJfkBRFEV5oh9QFEVRnugHFEVRlCf6AUVRFOWJfkBRFEV5oh9QFEVRnugHFEVRlCf6AUVRFOWJfkBRFEV5oh9QFEVRnugHFEVRlCf6AUVRFOWJfkBRFEV5oh9QFEVRnugHFEVRlCf6AUVRFOWJfkBRFEV5oh9QFEVRnugHFEVRlCf6AUVRFOWJfkBRFEV5oh9QFEVRnugHFEVRlCf6AUVRFOWJfkBRFEV5oh9QFEVRnugHVPZVWyxWyzfLc5dK+YtzN4/nx4/OXP+PbYD/WJgawB+pFK9XK9P6r1NUVkQ/oDKixYXcfO68Fetzo4fMl5EzO95XuHUSDgG/Waot6KRQVDpFP6DSrbo20C2QDNQ/Svmh0uwwHGKxOqdTSVFpEP2ASplgAAvzoyiSo2Ae0gZUmIZtqII8/oL1gZAgvi+UJvBHitOn5ybfsd5tBOoQ+C9LSzV9ARTlqugHlKNCAEXsVvEXJW4E9NmJfivUmuTHjszPfID/Yp2PFThEpXhdJS9346D1rgmSh0/qa6MoJ0U/oBxSbbHoxdbQRW/QFRtoBGoeSElpdlgb2Hif9QFcGjuiKWdFP6CcEMJocfq0FT3rglqC6sJdmB9tu+UnSVDFsYwBV1pbLOsrpyhnRD+guqmlpVqlOOIvR4Pc6CEUsVXoL89dgmGkIvo3ApdgDnbK3TiIOgTqQ/pGUJQDoh9QycnfJeAfDzo3+Q4cwjqZDZZqC/O589bJwtQAboi+QRTVVdEPqLikon9pdjjkaJzizGC1Mm2dzB6L1Tl4gHUyP34UN4ozGKjuin5ARSzVJ1y3Cagu+bEjqC7UFsvW+WwD54P/WSdzNw7i5ML8qL6VFJWs6AdUZGraJ4x4l6Uugc6BC8I7/Y1mOENjoJIX/YDqVAF9wnOT78zPfFAuXO2FhqC2wQ3ELWrUqT6fO8/BSFQyoh9QbQpBCjaAYmxP9QnHCmpLddfeQL2KrkAlIPoB1ZpUzGrUPdAjfcJxU9cY6ApU3KIfUKHUqOiq6M0+4QRYmB+1VunwXGHmA66UR8Uh+gEVJK9pe+5SXRtAYPI2A5gdZoUgbvyuAFSjHH4g/VNRVMeiH1D1pZ1g7IgVhpxaL6inqOsKudFDpfwQJy5QkYh+QNmq6wS0AUdQExdQOTNP4tfh4qlU56IfUKtUxwnGj3KwkGugQuAfojp38zj7FahORD+gtPzLcNIJ3AfVAsu/2dtMtS36AXXbv6IOnSBFoK5Qyg9ZJ9nbTLUh+kFPq7ZYnl+94mZu9FC5cNU8Q1IBTH3u5nHrJHubqZZEP+hdlVevyA/gDYgd5hmSLtjbTHUi+kEvCkG/cOukGTIKUwMoYJpnSHphbzPVnugHPScUIc35ZYgaC6UJeUmyBHubqZZEP+gtVYojZmNCcWZwaakmL0n2YG8zFV70gx5StXxTzAAHHEHUOzTqbVZ7USBjsM+ZgugHvaLaYlGaDmbH+9hb0IPU7W0W1CBjnV2onhT9oCe0tFSbW97BGK7AhUh7mbq9zQLqCjrTUL0n+kFPSLaxRNmQy5ESxeJCDhWC+dx5sykJtQT2K/Ss6AfZV3nukjzt7DMgdUGVUSajFG6d5K47vSn6QcZlGoA1FZkQEzOroB6J3EJX6DXRD7Is8wkvTA1waCkJpjgzaL6kK/Sa6AeZFc2AtEH9HTrpCr0h+kE2RTMgnUBX6E3RDzIoc4FSmgFpm7quUJod1vmMypzoB5kSQv/8zAfy9NIMSOf4XaGUv6gzHJUt0Q+yI9TlZdIZoBmQCLFcgZaQSdEPMiJv1VJjJUvUEmgGJFqQo1DIkJfIY+xOyJjoB1lQxVi1FAfc4IzEhGUJ7GTOmOgHqRdqBmIGqCJwOQoSK54lrN5MiZ3MmRH9IN3Cwymb28yO96GkJk8pIfHBTuZMin6QbsmE0tzoodpiUR5OQhKAncwZE/0gxTInneHJlGNCEoOdzFkS/SCtwlMnC1LOc6E60j38ncyl/BBO6pxKpUf0g7RKPAAVdjx78jQSkjyeJazuZJ4d76tWpnVmpVIi+kEqtbiQkwePA4qII9TpZOa4o1SJfpBKSfXcKpQR0nW82TDLLZkgP360XLiqMy7ltugH6ZN0HeduHOQAU+IgyJbmHpyAQ49SIfpByrS0VJOd0Ev5IXneCHEKZFRrdx1agvuiH6RMpdlh9XTlx46wG5k4jtfPbAw9oiU4LvpBmmQuTWFOPiDEWSxLWFzI6dxMuSf6QWpUWyzLCqbmutaEOA4sQboTCrdO6gxNuSf6QTrkPVHLHgBXYDcySRfmCGm2Gjkr+kE6JLPPcjcOcsIBSSNm9zItwU3RD1Igs6uAexuQlMK+ZfdFP3Bdi9U56UM290YmJHWwb9lx0Q+cFp4fWQBgbvIdvJRniZA04vWEsW85fp3buWf7vQ+AoT379KkQoh84LbPbgNsbkGzAvuVYdflwH2zg//zU3xT0GyFEP3BX5pYGnG1AsgT7luPTj+++zzQDeIN+I4ToB47KnG1QnD4tDw8hGcDuW+YyqJ1JtQ6ZNiC89fQL+kMhRD9wVNLGmh8/ulRbkCeHkGxgWQIKQDrrUy3q2HMvWR5gcmPgtP5cCNEPXJQsUgSq5ZtyTEiW8PqWl2dZck3s9hRsBjvv/6L+XDjRD5yTOcC0lL+oDgjJJNIxhgqxfgCocLLaiPauf7Ra8upYpkMM739DfTik6AfOSUpMHGBKMs9SbcFcolE/A1SgEPff3PSUBH1Q1wxwUn0+vOgHbkmmH+MhQUVBHROSYWS4hMrz+kmgGqgwNrHrwfUS9MGBjU/UNQN1siXRDxxSbbG80lJkdCEQkmFQRciPH1XHs+N9qBPr54Hy6cbAaXM4KWoJCPrq+NTWHXK+PTOA6AcOSWafWZuSE5JtzI09ijOD+nmgVmtgy7YfrrlHRXwcDG5/XQxg4ux5eattM4DoB67IrByYM9EI6QXKc5fkmOsaWZq6OGy2EaGKgIqCvET033n/F9UxPta2GUD0A1fEygHpcWQ6Atc1MoV6gJT9VcQvjE3ISyDdBvgYnEP/t7ZEP3BCrBwQwnWNLKGkb44jQrgf2LJNXirMliK8q/9nu6IfOCFWDggBXNdIZI0jwjHK/vJSYbUU6f/ZgegH3RcrB4QorEUserYjIWAckUmELUVK9IPuS8Zfs3JAiLeIhWyQMDXQa8NPJ86e79v8rDQB4cAcR2Qy0n88wpYiJfpBl2UuT8SNkQkBZkfC7Hgfngv9tGRaiOnWGqXWOCKT3NVrUoGIpKVIiX7QTaHsI3UCs+WUkB7H2ho22wtiW8NJJcpb44iEaqksn4cr4GP6D3Us+kE3JZOQ82NHaotlyf2EkEpxJDd6SF5mtS/BnGWm4vubm54a6T8uZ/wcevxJdYD/2NJy1k1FP+iaquWb0o0syxYRQgQUkmR5x+xNSvBXC956+oW6/cYm5roUg9tf138rItEPuqPaYlG2P5McT0hrVJaee3/u3n03P7VrXIHjnZfm7Y+lmaxOSrCqBa+tfbhRV4EJLET+F6oR+m9FJ/pBF+SNoFj2ALYUkVZBxDc9oHPw1zafmhubd3Rx9YxNShjpP47oLyEehKkWKKQ+gQP8F/0XoxP9oAuS/J27cZBjikhYfLWBOMDf3/7Lov3VXSUzkxIKYxP7NjwmwR2ErBYoUKVQB6giRDLbwC/6QdIyuwrYbUDCcPhGOW4bsIDxWGnoLqsmJaSzI8FqIPrRXZ+T+B6GOGYb+EU/SFTmVGRrRB0h9aks3f2zSSteAzjEzkvz//aXk52z/1r5/v90y/r7W84X7JR0FbMjIV1VBH+/8YGNTzQaS1qXmGYb+EU/SFTmOkUo8kj+JqQOdxqI7vrzVWYAb9h0YrZ/vGLF9EgoLS6t/8WM+qI1P52w09NtUDNQB6groGilHyq3ZVULdt7/xeCxpH7im23gF/0gOZmVA65TRIJBmd1ygggrBAHAEuQbXRuqZFYR8Cg5Pkmtk35jk/hmG/hFP0hOUrrhOkWkKWYbUTJOIKBmoL7XwSqCPW/ZyeFGKMIf2PiEBHTQUr+xibl4UeSzDfyiHySkhdLKo5XVMUVnb1U3n4p4AAz+mmvDXRLguffn5A4k6QSKLecL8u1WwlwAdWuzROWCJZzbucdaekhotd/YBL4ibU1xzDbwi36QhLx1isb7VPbN3jpFcdiAxePv5vvHK9b3ZhXTDDa+k7OCdTJIAqy0OYJTI1Bl0Wk/rfYbW8jg1JhmG/hFP0hCsk5RbvRQimefrR7/joNNJ2ZjtQGLu382uXUo43UF0wzW/2KmtLhkRepkkDRYyXMHF0aglmdyfZuflfBt8trah1vtN7YY3v+GOkAVYeLsef2VMYt+kITy40dVxjU3DU8RqgZgdW/6iXzoC6Lhhv6c9S2ImFbyMoMjZgAkGVYKncLsXk641UjtUvCjuz4n4Xvv+kfb6CtuBP6UDDDFF+lvjV/0g9gl40plcFGKCDMTKtYRkMDfHpVJS3DHDICkxEqkayS8lEXu6rW3nn7B31UQrRkAqXbAFZJpKVKiH8QuKcWkblgRArEMNakLYnRivZ2IjzI0HmTMEpwyAyCJsdLpGlZHQrV8Uz91UWtozz4EfYnXArzh3M491skOQeVDjof3v6FTkIjoB7FLphrIeNNUgJAkc1ZVDWDP1ZJpD8mHLcsSkCRnl2BrCdfMAEh6rKQ6iNmRkB8/ipf6wYtC5ZncsedekqYbAWea7lLQNrJF/r4Nj+l0JCX6QeySzuRSfkgdpIDKEqKtigjwgKcHVzXXwB6SHwSpsCwBaXNtWYVWcdAMgCTJSq2beDM9l3fOmZ/5QD94HQg2gArBocefNHsIFKgl4C3rZISYW+THOhW5rugHsUtm0KRj9TrfGgn+buT918pW+EgSREyrkzm9bUfbf1mUq3DHDICkykqws1SKI3LcdkfCxNnzA1u2WWsNKVAheOvpF3JXr1nnI6RaKqPOIS9Pbd2hk5Wg6AexSyqz5tb5boJSf9NBRAhbVuzoCtYSbGm0hLH5mrS/OWUGQG6slWaXMdtjW52RABvwNwop4ugh8IOqgOlDqoNaJy5B0Q/i1dJSTWqyLs88uJirPnjYXuHSxLWABZAepEpSmDpL2HxKtxTB2Fy7t3JXrTS7jNmREH5GQt297MFrax/u2/zs5cN91vk4uDFw2nQj1BK6YgYQ/SBeSTVWpiA4yNahYsA4oiQHEbVKei3BrBx0t/2tLnJLrWQ7jjkjQT+BgbIWH8Xxvg2PDW5/PdZ2IQtUPiQNOEhgkaIA0Q/ileyLKb3KroEYKg+/6p6921hJzQoTDpJSSzArB9YVuYDcTyvZ7iOzfILHnlrVAgTitlcZ6gRzlxtUEeJevrSp6AcxSkoryKNuNhaZZvDg4VsXc1XEAim3bjoxa8YIZ0mdJTheOegfr6i0oWpopdx9ZIaa2mJEP4rLkoFDEoUBjAH2IC8TA7UQaSbaef8Xkx9N5Bf9IEbJ7jduzjwwzcDsHlDLW6bFDBSWJZy9VbUu1ikcrxw8/m5eJe/pwfT10pu7jJTnLqknsdHAoW5VC0A1wV1uwot+EJfMnmRzsWtHaGQG6QWXsO7otLqiDf0r7ciu4XjlwMwYA5MLVuJTgawSBmN47w9faTRwqFvVAkWSu9yEF/0gLrnck5w9M1CgWiDX5ew8NZcrB9Z8CCvlaQFFsdmJ/l/+xR/96QP/UOKvkOTAoUYkvMtNeNEP4pKzPclZNQOFtHWgDG5duCNId72DlQNJm8oYVsrTQnkm95f/6l9LwAUogyc/cCgAqbIks8tNeNEPYpGzPcnZNgOAK5ILtK7dESR5VspdQNKWXjNAwd9sIHr505/pf+bb5bkpOdN1ZNWj7fc+0K15Bo1EP4hFbvYkZ94MFHKN1uU7giTPSrYLSNqsNKeCwtiEtQTp7v/hH199azsOZsf7lpZq5lvdAnUX2fXsradf0PHCGdEPYlF+7IjKo+70JPeIGQC5TOsOREBl1Q5xweBjdXd+lg9YyXYBSZuVZpeZOHt+cPvrBzY+Ya49hyrCuZ17UE1HBV2dKc4MyrvdYnj/G2Yi3elGFtEPotdSTY/KkHFvXad3zADIlVo3ITxX5xZ3Xpp//N18yNAfjJrgLX9czlvJdgFJm6TWQaql8kj/8WPPvYTagDmNQDj0+JMohqvj8twlOQ97kOOuYDZkJb+WdRjRD6JXtTKtMq4jG+D0lBkAuVjrPgQzNl+L0APqgr/8/UG9ijiOrWR3HTOfWDen6+SuXhvas69v87P+OQQmr619GIVu62RhakAf3DopJ7uLgy1FSvSD6CXrWhenT0uG7g6VJRndCHrBDIBcr3036qE241x7YEr+VzBWYb8RuM8y0snkP/sPeubB04NzVrK7i2kGG99xYvZGYWxCzSX2709p8qO7Poey9sCWbX4nUJjVglL+ohwnjzUp+tzOPexPzr6kM7m7I033Xyubi1f3iBkAuWTrhihgALgzCH8b+nONqgJrfjqB27XlfKHzCVlqsrfwX+zWfoC/bCW7i/hrkNZVJMnlw30oPsseYXVBPQA+gXgackKZ2XnQxVYj2RVZgJkd2PjE4PbXcSE6fHRV9IPoJRu6yk6ZXcFclq53zMCcUbVyN+70A5v7JfiJ0AMCkK+zkt1F/HvyWGlOAETDU1t3NOoPUKBADZ8Y3v+G9A2ERy2FrY6722qESoy1epLw47vv271uAzzj2HMvjfQf74pD0A+ilyxTsVjt5vIv8pA7u1p1HNxxwTG59qbg85tOzPaPV6y7FxPyvVayu4V/Tx4rwbGCyF53d2IBtQR4QCRzid1pNQK4cNQJUMuxzvsJMMhOUJv86IBliH4QsWqLeoihuEJXwHPuWuhJBrnqRqCWsKE/h+rC/mvl5Je9k2RYye4W5uIZSZqBcgL/7sQA9oAS9NCefYWxCeutDjFbjbpuCYqJs+dRMdq34bG6tyJW4DQ6ZhmiH0SsSvG6yvHSatQVHF9BMz7UVfsJ2Q8cN5IeK9ldwVpZz0pqTNR1AsSmvesfRWSMdYG5paWajDUCpdmuLWZXF3iDGkfbt/nZ3es2hKk9dIiOWYboBxFrpTM5f1GegeRxeZGc+DBrRdYNcQRJnpXyrrDphB78ikKDlc44qOsEyexOLFiWUFssy3EvgJ/A7NPWMcsQ/SBiyZyD7u6e71TcSQyzVmTdEEdw53cxxxTFXTlwwQkEr2958h11XC5clfPZBpUPOIH5ExzY+ISOWYboB1EKWU3mJMss5a4gj7oVBTJMV1o/WsWR38UaYGolMkKccgKhUhxRByi9ZbuKoGzAP4Fj7/pH6059oB9EKXdmJsvTbgWCDON+5QB0/Xc5e6tqTpSLb0zR1MVhq0AKuu4ECpTVZF0jHLjWkdA2uavXRvqPn9q6Ax68e90Gvw0A9RPogOUT/SBKycZM8zMfyIPRFeSBt8JBhjG7TKy7ETnlvT+feWjdrXs+1ypn/8Hv/rPNO7vyu/SPV6z5d3GYQWFsAvHI3xfqiBMI1viiavmm+dJx1ApOlw/3Ie6/9fQLCP3B0/fAj+++781NT+F/6VDVQPSDKCWrW8vmaN1CnnkrKGQYuWTrVkTLUj5ffP5FK8q3xOi9n/+Nn3xoJT5uzMY0RbRmgAiFcG8tN61wzQmEhfnR2XE9syE/fnTJjQWxG1GeydXdAjqYkDYgoh9EKVnmWmYhdAt57K24kEku5qoPHtZzjxH1rFvRNgj9869sa68eEAwsYf7VHdZVxMfZW1VEf3V/Ip9/h1hz6PEnrXYh8MM19xzY+MTw/jes807hbb4/ekgdo04v550id/Wav+WtLrBec4bzxNnzOjCFFv0gMsmAIhc2TFYPP7BCQ/Y4fKNslnw3n4pgTnj1whAqAdOff8CK4yaz3/jmUrm1xcjMisXU37vPupA42P7LotVGFFVjmuoorttCjVoCKgT4gHXeTaRvGTg4IwFea50E8AbE/X0bHsNPcGrrjvZCf13RDyKT9BmU8kPy2HQLef6tAJE9ZGlSuEKHe+iHrBDgA+W9P9e/eov6P/7oP8rfKcW8opQ5iEixoT+ChUvrDhkCr619GLEp8knFCWCuaOTIcKPLh/sQ8a2TOIP6ls5J8Yh+EJmksUhGGXURCQFWjMgecqUXc+0vPtGoQqBCv3VSsdD/dktNSfjw/JaXx2bmx+79vDrzs++9bF1LVFiDiKJqI6rrBD+++76+zc/GOq84bpyakYCqlb83/sDGJ5LZTI1+EI2caiwCEgusSJExzCKwdQfCoGzAH9ZnvvBQ8ZkfLLx3wjpv0pIZCLl1j1x65H+Wl3/xv/1f1hV1iL+BKJJ+47pO4GxHcRtIqxGMIfmOZdnpwVra74dr7nlz01O5q9d0lIlf9INo5FRjEZBwYMWLLGGawcYWt3Ap7dpdN6DjZKMKgcX8qzusM20weu/ncRXWdbXHTGVpQ39OboiiczPIvBMozBkJs+N9qOLLW/ERsNMDjAG3HTdfx5ekRD+IRk41FgGJCFbUyAzWDNuWot78K9usuBymQtAhsJm6HdRIf+eWMDC5YFYLImkgQrEU0SrzTiDM586bL81+5ghputODusPd2jeNfhCNrGep68iQm7H5mhU7MkDbW7hULwwVvvd9icUJ2IBJbXJy9hvftE6e/Qe/+/h3dyB8t/dLqa1+zBFWj7+b77BOMLRnn38mQYadQIAHyPBTlPDkfIfcGDgNDziw8QmrOchEdnrQAaVLoh9EI+uJ6joy3hyh04ogacecWhXeDPwNRGrAqHkmGWA/s1/7unXylX/61G/85EOU8VW53rrkuignMLdExW3pZE1vVSHwx6xecALBm5Gw3HDU9lijwtjE8P431Mxh6y0T3GrZ6UHHkW6LfhCNrEer6yAuqBix7ui0FUfSDiKmurTwW7j4G4i6ZQbC9Gfvs84oUF34n576M3WBLbH2wFTbI6zqVggATuIt62TmkQWxWx1rBA94c9NTsE/rvIm504OOHS6JfhCNrAes+1SWpBAdVY+lCzw9uNJtEHJqlWkGCTcQBRC86MU/ev6wXGZTUKtor1rQqEKAMziPd63zPcLKWKPlLZcDQNF+cPvr+zY81qg/AOB+4gMDW7aFXzeiW6IfRCPrSXMBKUeDDFiCuSgFWB9ilWZrraGu1wlMkBKpIlSOHM1/6cvyFkAt4dN/ek0uthFtO8GNgdMHNj5hhS3QmxUCC3OsUaNtNSfOnj/23EsBq8jtenB93+ZncTNhqzpGpEH0g2hkPW8uUFpckl4EkGpLQNQzu0ybdhuomcbmeB6nzEChRqyiviJnapOTkmYkGPUY67o659zOPf4o1uMVAj/mWkayET/uD+6ef5aA8G8/91tv/It/9uHP/o0OCikU/SAaWU+dI2TDEs7eqooZ4CB4UQq/E6jY6poZNMKa/TDzhYdKr+20rrEN1DQCfyBDMbZ3+orD481YvtNYdG3g/z716h/CAwJ6BVR/wPi5X6hbPTvRr4NCCkU/iEby4LmGZQnecm+VeJfNiRak//7/pJuJcBDcZYoSt+UE4eeXuYNZY9Bnnn8RfmZdbEjqTij74Zp7EOMmzq4acU8E3Jlf/MG/+uPfXGudF+CsamiQmiigRiWpG74wP6piQhpFP4hG8vg5iGUJd/9scs/VkhV23cRcfQE1gwAzWHjvRG7dI2YMTaMTCP6FNHB11TNnratuysCWbf4JZTiZxlXnEgA20Fdvd0kFTHTfhsdQFfAvJjqfO69ueKorBxD9IBrJE+gmsARrMYN1R6cRXq346w7+1RcaNRPVJicL39kscROk2glMUCeY+9a3zTOoAFmX34ipi8PW3ik9NY2gJQJs4OVPf+an677Y/8zvBywnl5nKAUQ/iEbyHLoMqgWyqaRi86k5BycwW6svgE0nZq1rUZRe22k2EOE4kmWFnMJa6GL+lW3WTRAuH+6rG9ReW/swncAid/Xa0J59jaYL/Hh5WzG5t/o5r6fMVA4g+kE0knzjOpUlcwg/WPPTCadcAfUAcyhRwOoL1iwz1BJQVzDPZAZvoQtjSnPxmR/gjHkrrHAm/HDNPQNbtlknexnVm9KoRUhsQD/Vt29LwX9xoeHScrJ2WdorBxD9IBqpDJEWLuaq645OS8wFCMHhV0qICWuGwV1/7vVzWCkXTDPIrXvEhSlmsbJULs8aax9Nf/Y+1XZkhjMr9O96cH2qtyWIlrr96gq/DYiK06dVfivcOqlPrZa50L0+lWbRD6KRyhPpYv+1sgzdEWRpTCtYxwrqBFYDEYwhoPfYNIMUjSXtEKs7wQpqpBGNRljtXf8oHDR4nxlUCyTX6VOrZS50r0+lWfSDaCSZJnXUdQUTROqN7+S2/7IYR/8zjEc2vFQ0nWHQm2YgVI4cReVABTW8xN2QGEf8DG5/ve6S3fq5DSHJePr1apkL3etTaRb9IBpJpkkpZ29VN5+aswrpflB7ePzdPCzECuttMDZfg81Yfz+4WgB63AwUVp85LaERMAPzZatOoCR5T782lLHGIoh+EI0k06SdkMYQLXf9uddkZKXED81AwLWb3Qm0hLrIfOz2nEBJsp9+bShjjUVQWD8Y2rOvUac8zu9etwEc2PjEsedeAqe27hjpPw6S2QPaBUmmyR5wiK1DxQ39OXOp/QhBLQF1BetL/dAMLGgJ4elkuzEZYlRbXPVHFhdy8lY2GougsH7QyAxC8sM198Aw9q5/FG4Ba8meT6hskXmirT2sPTAVck9HmkFdaAkh0U9pWypMDahMWC5c1adu315aqs1O9Kvzc5Pv6LPpV1g/6Nv8rHWLO+e1tQ9nxiFUziBxQDMIwLKE6oUh6ynrZVAMVQeHHn+y7nDSMKoUR1Q+nLu58hdK+YvqJKoIi9U5fTb9CusHqHAhdsuNjgk4BKoRbz39wsCdvSPc3EKorlTmIJFDM2iKZwnLs9XmvvVt65nqZaxSbMA8gwCp7RBUblSz0syWotJsamJUGLXQnwxLgM2a9zc8+CV2Pbj+wMYnAP5I8LaiFqkwCZU5SLTQDEKCaoF5bD1BPQtC1r4Nj1knAcIR4kn4ToXCrZMqQ+Igqy1FSi34gWji7PlTW3fgRted7NcU/BhwhcHtrw/vf+Py4b5jz72El9baW01RJgFg+KoTW7mFIvn9qVX+IBFCM2gJmarGKoJFo+XqEENCNlObs9Ky2lKk1I4fhBF+g3M79+BnCK4KwBvMsj8cAv/iGGdwHj+Y9flWUf3YsC4YBv54fHULyS4kEmgGrWJWEXD3rAeBgLrGgMIoIlXTEqTkzKy2FCnF5QeWWqpSSNlfAc+wPtAh+JuHHn9SOVBUNQnJLqRzSq/tlNBGMwhP4Xvfl+P5V3dY2Z4IMAB/INp5/xdRDG1UY7CyaH7siH4jW0rID0zBGwa3vw5bjjzQCwH7XPtBzoBDoOCAVMEh2huqbGUX0jaLH1+WjeZpBi2Be4U7po5lTQtSFxQEGw2QQUDwj0eycml57pJ+I1vqgh+Ymro4HG0DkQlcAb/r5cN9qpcCtZOQPqFm2MEh8L/wf62cUVdWdiFtk//KV1VEy3/pyzSDVsEdEzdlx3JTUBtA5GkUFhAHEAFyV69ZD3juxkFrblpm1GU/aEnKPFCKx4+E6kX4piR8cmjPPv1Xbt9GJkCFUTlQ+C5xsytC1SRURlEyswtpG1mZB0HNbBAn4ZHd4tixHB5UFxATEFXqBgTUJE780f86dflnOpfOfKAf+8wpTX7QSCF9Am6Pikh5xt7XAmdUHQWViVaHOQHV23Hku4/1P/P7H/7s3yAxEt1IS9QmJ6Vsa/Ynk5YwfRS31MqupCmIBggFfmPY+uv/zc/+ye/BGPLXPtaxI3PKgh800uXDff4mQlXMV6NUVTHf34M0cfY8zp/augOfwV/A560/0hRlEqiCqF5rmkQYZMQkW4o6RHoRSrt2WzmThKRaKqPG0KiPIbjzOb3Ksh8o5a5eQ/QP0y6EygF+Y+QD67wC5xHZh/e/AZPAH0S4949oDgYmoaZHWnGQgIX+tyWcVc+clWPSBuW9P1cHs1/7upUJSasggKBU98e/udY6HwaEiH0bHlOFQh2P3Fb2/UCpPJNDbSBMBEfUhu1bJwNQrVX9z/z+ke8+tuuh3wnTJf5j327dPQ5qAzMPrUP8Gvgv/+5Pfv2/xS3CL4XSmQpqpFWW8nlpeWOTUedUyzfx76U3f4zHvI0mZQH/t2/zs0N79pldj06pV/xApMI3fhIU81WXMpB1rwRYunWmJdS34I+or2hkEjQGxfwr28Y+89lDf2PVr4AfRQIcaRU2GUVIKX9RjhFDULhEADn0+JOdjJjH/0VkUIMYEQEQMVSA6q56zg8aCb9xJ84fhrrTIxWZMQbcRuTvVlvS6oIbItGNtAqbjCJkdqJfjmuL9duT66LmWsE5wjQbAHwMJnFgeSMZNdg9SaugH3g6tXWH1cGAX8V8GS0BxhAe/Hc1+BU5BlHYissxEWG4b8Te9Y9WS+xM7hSzyYgTETrBMoBy4ar5Mjx4dtREqLoNEmFAgdV85HXwilS97ge4rbjF5k1HsDu3c495Jj4iMYbMsP3v/Bb7DCJExmvNPLQO1QXrbpOQVIoj5su5m8fNl22jBjEiuCMCBDQpB4C4oRoVdCyLQj3tBzcGTpuxOEknsMiSMbR0G2e+8JCKWdYe8aRzzIkIqCtYd56EpDjdwuiSDlH9jqoaAdRsqqbt2NLarONaB+pFP4ANnNq6A/farLUdevzJRiNN3QQWgrCrChfWW7ESoWtKwJr+/AMSuUiEFJ/5gRxbN5+EJDd6yDrTLeAWQ3v2qSEqdVucOjeGnvCD4JY7nOlWtaDHkXVMpWWDxId180kY1EhTAFfI3TiojhcXcuqgu4RvVFBlOB0NA5VlP4Cd4n4FN8zhXXzMOkmSQWzAXOCaxIR180kYZKRpcWZQGo4Kt06qA0cIaQxhXCGDfoDawOD21wOWMsV9ObDxiVNbd7Q074xEjjQTcem6BLBuPgmDjDStFEfMaoEjVQSLpsbwwzX36CjZQJnyg+H9byDQW7dAsfvOakL4QGFswnqLdAsrYJFYsW4+aYo50nSptoAIIzUD16oIAGagVtPZt+GxAEtQobKR0u0Hak2hgS3bYAN15wriPO6RdZI4ghWwSKxYN580RUaayr75jlQLclevIe6pBTdR0g25rYtCXUgjpc8P1I0InvKHGzS4/fXyjIt1OiJYAYvEinXzHWR6evrUqVPHjh3Dv1euXKlUKtYHEkY6DEr5izr63L4t7yaGWfBvKfT7eXPTU/oyGshdP7gxcBqh/9zOPbgRalRl03uBKgI+yf7htGAFLBIr1s2Pj5ANF35+8bN9MAPR231/+R++Xr/5t0cIv1sXQHhUs5dx8/ET6DDaopzwA7PZp9VFhPB5mB5qA+wcTh1WwCKxYt38MDTtn7RoKX75QfTXVmBo9zf/pfUxgl8E5WP8NIj+iJxtR3+/uuMHpgG0OlFb3QjUG3AXrLdIurACFokcc5s56+ZblONfmSo8/+53f+/In+7ShtDzlhBJwT+kkvADq/cjpAGg4C8eiOivbND6DEk1EqpIHJhmUPjOZuvmK+KwgUjiV61Wu3DhgjaEY8cKhYK1tGLczE70q4NKcUSn6Y6WlmryGX0qQ4rMD/Db+3NV+Pojm316EIlWJHJMM5j9xjeXyuU2Qn+EC+O0IVjCuXPnlB8MDQ1JFE6A2mJZjtVIU1Pyln6dIUXjB4WxibrraQRAAyASsEi0KDMY+8xnj/76b/7x3/i71m1vBKwi5KoGiQnVAuUHkEThBECdQB3ISFNT8jH9OkOKxg/6Nj9r5S0T5DOr98P6AOlNzBBGImEpnz/3j//JH/+Vv2Xd6gActAFT2g2S9YPi9Gl1YI40FcnH9OsMKRo/MOeCIXupOqacIaQuViwjHVI9c3b0v/+dl3/Nvs+C46G/rrQbJOsH+bEj6qBamdbpMCQf068zpGj8oNXGIhISPMB71z+KetXQnn3Za1izwhlpleqFoeLzL848tE7OWHtQp9EALGk3SNAPlmoL6iB346BOxGrJJ/XrDCkaP+hw93kSHtN68bS/9fQL6dq2wUSiGGmJ2uTk/Ks7TBsQ/v2n/7a6t8P739APZ8ql3SBBP0CdQB3MTvTrRKyWfFK/zpCi8QNTExna6isVvLb24ZRWHaxYRppSPXO28L3vWydNfnHvb+HG7tvwmH4a0y/tBgn6QblwVR0Up0/rRKwW6g3qA/p1hhS9H/SmVP6InKmLw2onn6Yzt8+lcEsfK5aRRnijRff+PP+lL1vnZ77wUPGZHyy8d0Lnwizq3XffVX5QqVSspyMm5nPn1UFpdlgnYrVw3vvYzAf6dYZEP4hGKgMlDDxAZnjUXd7VcazoRvwg1iPi+/cTnf3a1ytHjurMl2nJrLTR0VEr/8dEYWpAHSzMj+pE9IzoB9FIMlPCBI/0dRwrxrnJ9PT0uXPnEIys87GiO4q/8JB1fvqz9xW+9/3Fjy/rbNcDGh8fV36AX8HK/HFQWyxLc1BtsagT0TOiH0QjyU+JgcqB2UlzoMFGQC5jBTs3GRwcRDB69913S6WS9Vbk+McLCfCG+Ve21SYndYZLrXK5HCI7orx+3UzValX5AWQ9AnEgjUWNOpOzLfpBNJL8lADVUvnNTU+ZgXXv+kfTOMrICnluIksmIIRZb0VFgA1Mf/4BVAiy1DQk97NSqehTzaQ+D1kPQuSYlYMebCyC6AfRSLJU3BTGJqyOZdQMUjrkdPqz96moh2KvREDXGBkZUcFoeHjYeqsTar+6Xj5wsPjMDxrVBrLaUWz2B+hTzaQ+D1nPQuT0eOUAoh9EI8lSsXJj4LTZb4xaQnonH4DZb3xThb/Srt0SCl0jl8upYHTq1CnrrZZAJQAGMP/KNlx1XQ8AvTBeyOwP0KeaSX0esh6HaGHlAKIfRCPJVfExsGWbTEbDweD21yWwppTy3p+rODj7ta9LTHSNWq0mQx5b7UJY/Phy8fkX/eNELXrBBkTValXuJ4712UCpD0PWExEtrBxA9INoJLkqDkb6j5ubRvzors9lY3mopXxemoxQfJb46BqtdiHgulDjCbYBXDgqCvOv7qieOavzUM9I7ufU1JQ+FSj1Ych6LqIlN3pIHfRs5QCiH0QjyVXRUhibsAYO7bz/i7mr18wzqWbuW99W8VEOHCR8F0LlyNHCdzZbJxW5dY94BvDKtvKBgz3oAabM+6lPBUp9GLKejgiplm+qA7iC/taeFP0gGknGigq17Ie5oRCOk1knSo24R1nYOh8HZrXA2SqC2YWwVC4vvHcC5XrE/UbdACb4WI9MHAsv837qU4FSH4asZyRCSvmL6qA4M6i/tSdFP4hGkrE6pNHqT6gloK5gnYyJkydP4tl79913rfMxgZrB+//1vf/+03974B99yQqmLuCtFfHeCRWPIOvdRuS/9OXSrt1L+bzOH9FJ5sfp1ymU1SWjzzaW+iRkPSwR0mh3zF4T/SAaycgEWSy3JQIWAXxt7cNJ9hYg0OiH79gx662osOofqBbI/i3vfOV/sQJrwtR+dR3F/9JrO72BQF/7em7dI+q8viPN/MDrGX7+xVjnD6NMrVJy7do1fSqFklGnYa5CfRKynpqoCN4ds6dEP4hGc5PvqPwki+WGZGDLtro2IFvXWufjRlUOoI8++sh6y+LGwGkk79TWHWq5vd3rNoRc1PYvDxzE33+77y+t8+DlX/ubycxFQNyf3/Ky2eDjXyPIRN0TCMf5r3y1+MwPUPzvSjfAlStXdFLCFa7dlIw6ff/99/WpxlKfhKxnJyqCd8fsKdEPopFssFcpXlcHTUE89S9Z2i0bUJiVA1TqcQYVFyTm3M49CPqowSDoA/O/tIH+ggb1j7jnIpQPHJxdnvcQEhiATvGxY/r37p7wu6glNCBEVX02bTJHnTZ1NfUxyHqCoiJ4d8yeEv0gGkl/lBwEUJ7JvfX0C2YQ7KIN5K5ew/eCY3+49djbb6sH782f/In1sQhRXwFZ58Ff/PW/08ZchGrj9R5aZeYLDyEBKP7Pv7Jtof9tqQHoFDvgB1Cr43PcVPgmI/UxyHqOImFpqSYjTevujtlToh9EI6kWSFmjEZcP95lzjH+45p6BLdsSm2aMLxre/8ahx5/0F/P3/sH31VN35E93vfRXP2O960fVFWBsajtPOAqsRd+OQKlvgfTrOzLnIiQDagmoK+ivbyadYjf8oNXxOW4qfJOR+hhkPUqRII1F+XEOA6MfRCTpNpCOBD+FsYm96x81QypeTl0cNs/EBCL14PbX9214zDpvopr1oX/3u78nJ1XQ79v8LIL+uZ17EPQnzp7X19yu1LdA+vWyUCq3QnYcoAYwv+Xl2q+u628NJ51iN/yg1fE5bspcuFSfaiD9oXj8QB7YRrvf9JToB9FoZQ/u5bqnAtET5XEEU8RiczIBqggJ7GiGb0f5fef9X7TOm+BdRPw3/vct+pk7diySoB8g/TW+KLBULgdvBtmIBNZ70Cl2ww+glsbnOCt1CZB+3UD6QzH4weJCTh3kbhysLZb19/Ww6AeRCVnq6lvbz/3Zi2q8TUAUPvT4k+WZnHWyE1b6AJ57CajmILNVygQJg0kg4stTAcxhRfp6YpP6Iki/ToN0ip1Jc0vjc5xVyIWM1GcgM8dGgqxZVLh1Un9Zb4t+0KkQhfs2Pxu8ubEQ1d73UxeH1Wgf63wAqKAMbn8dziEPg4l+4O4MK9IXFpv0N9EPOlBL43OcFcxMXcL0dFBHrvoMZGXaDjF7khdKE/rLelv0g3ZULZWH9uxDMdxsAqoLCuMIxCizD+9/A0Vy691WKYxNnNq6w1zbLhhUEZBIfDUSLI9BXfQDl0i8099EP+hMGWgy+uUvf3n8+HF1FY0k8+8gK9N2CHuS/aIftCCE4+Be2T+574H/Z/3/GFX0FxDNz+3cY/VFm6g+AGU86ttVH4Bk/aboB45+0EBSGC8WXdlTN6VNRqjNTE5OXrp0yQz0IWVl2g5hT7Jf9IPmmro4PLBlW6P+AJTW+zY/e2NgZZip9YFOuHy4DwV82fZAwJkDG59A3Jcv7QRzGpq+5jilvylVfjA0NKTSfOXKFX2q2zKbjILb37urQqEAAxgZGUGFpg0PgKQOYeXbTmBPcl3RDxpKdQw0WoNh14PrT23dYY4WNZcwkpNtkLt6DbUB2EDdDmHUA/BueUbn5khIsjMZUt8F6ddp0NTUlEoz7lUCXSwhJe3vs7Oz+pQzunbtmsyjbiTcTIn1Adspqw9AVr7tBPYk1xX9YJVkulbdWIxS+b4NjyEc111q1FzCyHqrKeIBjewHtRDUURr1BneIftoS6UyG9Jelyg8gcU2UdvWpbgv+7VqSoFwud+bMGZUwv1CnQUUBbqE8THpBAlZsVR+ArHzbNqu2xmRPsiH6gScUtxGOD2x8wt8yA8xeWestk/mZD1QOKxeuWm81An/zzU1PBSwDh6/GB1rqCWgD/bQlFaD1l6XND2SViHOhN/6NW5IkHOhTXRXK+GJRIngDgj5SCNPy12OkFyTgrqoPQFa+bRtujdlIPe0HKG4Pbn+90ahNhGnVMWCdb0R57pLkNustE+mUrus9AOf3rn8UtQGzTyI+Eu48gPSXpc0PEOx0up1JOSKsSk8yDX2WCoUCqgII6Ij1V65cQUAfGBhQ6YFwHGbgk9kL0qjJSL0LWVm3PbhvfoB60Q+mLg4fe+6lRv3DOI9Y3MYyEqh4qkxWmBqw3gIo4wd8acIeYJJw5wGkvg7Sr9MjnW5nUo7itkpPMkOMSqXSJ598grivvjRAyEsB/QGWmjYZqXchK+u2BysHAeohPwjuH0Y4VtO1rPPhkV018mNH1BkE91NbdxzY+ETd3gigxiYhYeo/Jo+5Mlpi3aTqGyH9Oj3S6XYm5Shcq/SgMK5PxSPkE39DUF2dOXMGH9b/LZyaNhmpdyEr97YBKwfByrgflGdyQ3v2ISLXnTiGUjneUsN1rLfaY/Tsn539k+ePfPex4JnD8B74REydwy1x6dIl9aSh3KdvWfxS3wjp1+mRTrdLKZfGFv06UqGIgGDdqHMY4Ru6cuXKyMgIPgYbKBQK+n+2oqZNRuotyMq9bcDKQbCy6QeqY6DRBC7pH7bOt83UxeG3nn4hoFsYqC+FOTWdKpwk0liU5IBF9Y2Qfp0e6XS7lHKdoEiTVCqVEN+Hh4fN/gCl999/H2/pz0Wn4CYj9RZk5d5WYeWgqTLlBxN3lvNstJxDq/3DTUGtAq4TsHIRUgIPwGfiHiDUNvo5SzbA6a+kH0QhnaAokoTSPQr7jaaMwR7iKzQENxmptyAr97aK7E3CykEjpd4PVIsQwm6jNvq2+4cDuHy4r9Hg1F0P/c6R7z6GykdhTHcvO0u3Bszor6QfRCGdoA6SFGwDqEGOjIyE7xxuT8FNRuo8ZGXglqiWb64c9/w+aI2UVj9AiRtRPqBsrvqH604ca4lqqTzSfxwGcOy5l1D52N1gHWnYAz4jGS4VIAqox2xwcFDf1kSkvhTSr9MjnW6XUi5htKUlK2q12tTUVKNFhPA3zSljySigyUidh6wMHJ6lpRrqBOq4OJNobk+X0uQHTasCP7rrc4jL+Ezb/cMq+sNp8HfCLGGNygdcB1+nUiitk7I6istI5wFCg0p/MlJfCunX6ZFOt0spD7lktBKqAtevX5fIawn5AQ7R6uigqBTQZKTOQ1YGDk9pdlgd5EYP1bhaUWOlwA+aVgXUqE0Uz63zYcAfH17ev6xRx4MfGBK+ceqivSyiNFAWbp1UB85ijjTVqU9K6nsh/To90ul2KeVSyWs0+Qv1hsnJyeHhYbF/S921AZHZZGTVddRJyMrDITG7kctzl/QfperJUT9Q6wi9uemp4KrAuZ172pgxgOJ8wNQwC3yRLCV9ausO1B5gITqVPpnVAserCF0ZaaqkvhfSr9MjnW6XUi7F6qGhIX3qjlAVgENI7cGvwcFB/PRJtgg1VaPl+dRJyMrDIZHCGbuRm8otP2i6lgOC+FtPv9D2GCHlBMGb2KAigrI/nCYg7gdIMp/LVYRKpSJlseQjgvpeSL9Oj3S63Ui5KvjLQtxhhB8dnx8dHY27f7g9SRnF6kJQJyErG4dBVg0A7EZuKif8QLUINSqwo4pw6PEnEaDb6xw2uwT8TvDa2of3rn8UJjG0Zx9sRieoA6WiitCtnmQl9dWQfp0e6XR3NeVNC/5+nTlzBr94mA6G7ur69esqwUitPnVH6iRkZeOmeN3I43qUB7uRw6hrfpALscKz2vbdOh8M/iyi/6mtOxDid6/b0KhLAF+Kb9dJiVruVxG61ZOspL4a0q/TI53u+FMuM8IaDQNtKqkKpGh3ZTiWSvyFCxf0qTtSJyErGzeF3citKlE/aOoBoNE6QqqpJ+A/BrcCCbE6gZJZLUAulOMugidNRRb8Ky3OkE5xgkLxVn113EvuxCGVcki/jk64LZOtbyKmCv76RQr91ZJMiEF5RZ+6I3USsnJ1MIvVOXYjt6ok/ADBPXg5B9U53GicaJhG/2B2Pbj+zU1PwWYiaREKo8LUgM6IhavqoLvUDTHHjx9Pvh1Z2gSs/s9USKUc0q9bVN1Sv39NiGD5C/76jfT7ASR3wxxipM5AVq4ORvanYjdyeMXrByP9xxHoreisMFd4Vh8OU3toyo/vvm/3ug2I/rCQy4f7EjMAS5XiiM6UN7u2dqnJtWvX9CPVWKrqoC8gNkn/J4xBn0qPVMoh/bqxcMPDF/P9QtAPPyNM/59M+MG55cW0zd4OdQaycnUAKy1FNw6ivq7/ENVMsfhBtVRGZA8/nD8kCTT1RKWl2oJkTXcI6Qr+CaIRSgqAhbbWwuyuVMoh/bqeisViS529SsGbiAVL/4lM+EHd6RTqDGTl50aYLUWl/EX9V6gQiswPUBjvpFwfTIqcQCS50zWkM/n06dPqwK+Y6gqp7jyAVOIh/Xq1cHUIZzKQ16+WSv3hpf96JvxAdnwzmxPVGcjKyY0wW4qWlhLa1SMbiswPOjcDfwtSqiW50zX0s7U6fNStOkTuCqnuPIBU4iH9+o6UDVitQwj9Zgk3VumvzIQfoHalrgX3U52p1WrqDGTl5LqYLUXl//eN2a99vbRrt/pTVFNF5geI41Z8F358Z1P4kf7j+qO9IcmgrqGfrXrhA8/e8PCwfttQVI1Iqe48gFTioZGREcsATL3//vuIa/r/xC/9rZnwA0gqWOqlDIfDDbdysp/FhZzZUjTz0Lpb93zOBGcK39kMh1j8+LL6+5SpePuTe1mSR11DPV2QTqhPjboZOneFVHceQCrxjdSthYD012fFD/TFLF+OdMYgW1o52cJcxHRu8h28LD7/ouUHJjNfeIjeYIl+EJckm7qGerogndAGauQKCHntjVJNdeeBahRS6bfU9fXgdDqy6AeSZ1BpQK6zcrJFKT+kDrwxRdW527OfWiqXC9/7vmUDdYE3zH7t6/CP+Ve2Lbx3omcdgn4QlySbuoZ6wCCd0GZq1IgkQr0BsbKpScTUeVCtVoNbb+IQvi6BsbkhpdOURT8QD0aesbKxhdc6JMezwzCDulQvDJVe2zn3rW9Pf/4ByxL85NY9ApNAHQIm4flE/9uZtwr6QVxa1Y65nFNdQD1gkE5oOMEVpPW/rpr2oEbSeYAonHDoryudGjek05RFP5CxcNPT01Y2NjEfscLUgOUBjWjJG/zkv/JVr0rxzA9gFaVdu2EV1TNn1SWkV/SDuDSfW9kz2SlLUA8YpBPaiqampgYHB/X/DxSittWKInG87c4D1APUX0heqlFIv6AfxCl9MXc2zlQHAwN6tn9dLDPwBpj6Qn9T4A0I6IjsxedfRJRHzcCK/orZjZ9Z6PtrhX/5G9Z5C2UVAfg7uv3gMzAbpErfl0REP4hLyJeyagVwxxLUMwbphHas8CYRkxJrvdHf51jklQE5KVq6LkDqWiDkK3Vw7tw5Kw8LkZhBIxY/voxwvND/tmovKnxn89Kv/hrOL938NSt2x8rMFx5KzBjoBzHKsgRHlr9WzxikUxmFmvYxRKgLFy7g6/QXJyudAsf8QNZ4cKdLoxOpa4GkOnjlyhUrDytiNYNgEKaVW5QPHPTcYsvLquA//dn7zFAeLQkYA/0gXiGPyhJGjix/rZ4xSCcxHqkBOZG39X/00UfdMgNIJ8IxP5C4CUvWp9Isqe6Iz01OTlp5GJTnLslxwmYArEgdB9ULQ8XnX6zbsqRGQ81+45uq4jL/6g6vHhNFBwb9IHaZ1QIX1jVSzxik05eIZLtm/27pKZK6BEi/dkNyb+G++lSaJeMOxBiKxaKVh80tkZM3A2AF6FgJMIZGoJqi6itz3/q28ozy3p8rz1jK5/WNrif6QRKSBVXM3fu6hXrGIJ24RCTr0qS6DKsuAdKv3RAqTDpZjiWsPUm3gdLg4KCVgYFUtfUKRb54HTdW/E2GNowhALhF4Tub4RO1yUl96+kHyUjGGsniKl1EP2fJxo7R0VH1pclv3x+h1CVA+rUz0snKhB9AJ06c0Ndzp1fZysD2lsi+YB0Xi2f1wdxdVmxNGN3R/d6J0q7dqviPyK4qBDNfeMj6cBjyX/ry/JaXq2fO0g+SkGyH4EIXgn7Oko0d0sad2CpvcUhdAqRfOyOdrKz4wQcffKAu57333rNyL2oDq7ZElmCdAJWt+mB+gxVPHUQ8Y/7VHZ5nLPd4NxpKq6AfJCHpQsiPH0WGVsfdQj1pkE5cIpLRR6keA6MuAdKvnZFOVib8oFQqHT9+XF/PnY3SzNwrY4r0lsgSrBNgfoM+qGy1wmgaQW0AJoGagXmSfpCQpPsLpRtUctVxV5BuurbnhbUh6STs4jo/nUtdAqRfOyP5Tc1tJlMqazchmZm8VFswq9felsgSqZNh7i59sHjWjKFppzY5Wd7788J3Nk9//gH6QRKqXhjK/+vv3frt39a/wW//9tyun0jOTpiPPvpIPWmI0Tp98Use8iRNKHKpS4D0a2ckt9fcZjKNklUUxeHUsqbV8s382BHJw4XQi1JExmK/PijcK5E0e9APYlTQeIC/999Jp0LCyJqRkE5o/JKJCO2tjeqI1CVA+rUzknXfUt09g7whNiAVyqGhD2XhUgVedmFMUXmTPqg8bT/LGYJ+EL0W3jvRdFjY9B/8c7Uqr5nRE0M9aZBOcfxSX4enXb9Op9RVQPq1Mxpf3jQmyTpf5BJXGxwclFLLyRMr26KhioCKwkqMTpLCvfpgccB6lrME/SAaLZXL5QMHC9/7ft21Elcmms9+aqm2kB8/qvK3Gj0t2T0x1JMG6dTHrFKppL7uzJkz+lQ6pa4C0q+dkUTP9E5JQyaRysHU1BTOvPuu7lWeunYAmbZw6ySeHR2UE6Z2VR90e6Rp3NAPOlJtcrK0a/fct75t3VaFaQMm1cq0dC+by6AmhnrMIH0ZMUsm0F64cEGfSqfUVUD6tUuSYJrSFjnpAsEBXtYWy2f+v351ZvTK4UpxxHqIEqWyXR+kYaRpJ9AP2tHix5fnX91hDdUScuseKT7/oreWiOQnH+bqK8lPWk44dkhrxqVLl/SpdEpdBaRfuyR4rUpbJDtdJyyzG1ltPY1y0ocf/EKdvH59uXjeLebX64NMjDQNgH4QVrVfXS/v/TnK+406BvJf+WrptZ2wipVsFIgMnsuPHUl4XaOEY0c2JqNB6iog/doliemmboWoQqEgBRSVQ9TyRB9/eESdvHLlivXsJEr5uZXjbI009UM/CBLK+GoHpUazwKc/ex/e1WuASKYJBzK9DKErztRZpCU+Eo4dMhlt0lgpJY1SVwHp1y6pWq3qxDmZvEaq1WqyeYZqKYLmZz5ALv3Vx4fUea+Z0ff4JIRpBvPrrcc/e9APVmmpXPZmeL+ybTZwKXPYQ+F7368cOYrPr2SX1qkUr0uMrpZvynHcJBw7ZOHi2dlZfSqdUlcB6deOSScuPX6AfCi7zklLkcxAvjlyQL118uRJ68FJiNVmgKRZcSB70A+8PuHygYPF519s1B+ggAegKoDqQvXC0Eou6Zji9GmV+xMeayQ19JGREX0jYpPsgpvqyQeQugpIv3ZMOnFp8INSqfTJJ58MDAzoFC+3FFlb3MgHvHnXvmcnXnrPDECP+gHK9SjdB3QGKHLrHkE9oLz35+F7BVrFXMnd7GSOGxnrDZ06dSq+ln0ZbIpnW59KrdSFQPq1Y9KJc9sPJicnpftKpAae+fc7k5qlNwLV9+zEiCxdB3rGDEBv+UHtV9fV8NCAtiDUElBXQI2hjS6B9hAbgDHAHuSRiJVarWY9ljGtJCHL2ad6qpSSuhBIv3ZMCQ8ba1Uoc0hNUYSyiFri0JyELFvcyEgEb2Sa78GJi9ul27Nr9HEvmQHoCT+ou5KfyezXvj7/yraF/rc77A9oD2T92Yl+9SRI81ECwBLMTY9RFosjjmRjKQUldSGQfu2YEh42Fl7FYlGmF4iQWjW+YLE6JxtGAXO/s1Vbv61+amJEKgdzd/eUGYDM+sFSPq8mDDcaGqRmCfgni3UFszPZrDUngLmcEQqYCN/RuoKMHkn1yqZK6kIg/doxuTbktFQqIUkoc0jFBUIV4ZNPPsFb+jOzw9Je6uXG1Ztfosgi/9f7L8YjEyOFtfog67MN/GTNDxY/vlx6bSfK+9Z1CrPf+CY+UPvV9ZWf3w3MIacJW4KM8VDCExhVWd58njOwFLO6EEi/dkzuDDlFBUVWMBSpfCW5zqoWwBXgDdZDAaTS4+VJ37vRU92/fLzm9tKYFT0yT0b8YKH/7YAl5KIaHhorKBahcCSPR8KWMDU1JQV5CI9uJLUEqe/jj+tTaZa6Fki/dk86fd1LITxJliY19f7775vb4leKI2a1AMYAe7CeCIVUerzZCb53o0c2vSlvssJIL5BiP1jZxqFB53D+S1+ef3VHtMNDY6W7lgDgClKch6Svr22hTKf+VKq30Repa4H0a/ckP19XupRnZ2fNagESg9I98gDOm9lscSEnZtCoWiDAYOSivCEPvg9ESe3iynHWpyLXJX1+gPg+/8q2Rp3D8AY4RHsThl3AtoTE9983x6Eq4Qlvu39Siood+oojUtcC6dfuKfku5Vqthloggv5HH31kFiZQAsBbVu4CyOEyegIHjaoFJsZeCDGX7cqb9cF80DD0DOO6H6gJw6Vdu9Wc4Sadw/1vr/y0qcWyhNriSi07Gay2I6VLly61UeSU+UQxDWZNWOpaIP3aPSXWpYxi+8jIyJkzZ9TXmYIrIBlWplIgM0s/GWoGYcwAmEMevEzo+0A0eItaLw8zre63IkyP4JYf1H51XS0XUXzmB96KEfX2EjBRncPxTRbrFmYZqlvbqElTTyOh3tB0MJL+qMMBtCXpi3H4chLoUlZOYE4tNgWHMPsJhErxulnKAcHNRBar6j2+d6NBFjEt3m/Fmd6hm35QPXO2fOAgov/ct76d/8pXrZQ1QnUO4z+63DncOdJ5kPBSdxao8tftHhShMIgPIEDkcjlECv3TLkt/KCt+IO0h3lgXV6VSCEXeRtfICd5//31UHxGprX4CBQo05tbHCniDleGDWVXv8b0bAQt7Vo4zvQNaMAn5wVI+r5p9Kj/9F4un/tb8i3/fSkcjpj97HyoKqC5488XeO5G9qkAjZEZCfvwoqgvyIHWFui1IdYVKA0KDTDXQZ7PiB9K5AmOAU+qzjklMCwd4iUiKGNqeNxQKBVyy2UVsCucbtQspkG/VSqUmcALUFazc3pRV9R7fu52yNONNPVPHPTmsSIjFDxC1VbMPCvJes48x/qf20X+u7nvx+f9KTgozD63D5+e3vAznwF+Ai+gfqffAsyRjMOYm30m+F6EpwSZx8uRJc/KzzhkpFzzgo48+wuW4PFzKbOhTqYVaMrBgG4CaOgGoLZbN6QWoIpTyQ8jGVj4Pj/7uOPxA9sqHKyzNWEGpp4jAD6oXhipHjupmn8AlQkHp1bvUrV+6+Wv5r3wV/wX/Ef89eDex3sTcSjM3emhhflReugNix+Tk5CeffIJCqJRM/YJ56OySfnVlKGdL8v8QMAb93rLww+FHGRkZGRoaCgj9lsI4AahWps02ItQSUL6xsner6BRE7geLRsvVwh4rXvUaLftBS9FfmP78A7rZZ9sPb+f+qr775S0rvwSphzXeFA7R9bajYAKKlgMDA4hKo6Ojapl7Kj5ZYwEuXLigKgfq1wnZ9Aehkqda/6xfOYCl2kIpf9GcXlAuRLPbpZgcPMx6q31ul24X79fHPbDdTVOa+EF70T+37hGv2eeVbbrZp1w2310Z5Cuju0hjrKLW7HgfzshLZ1GhRz3AfiHQIEjhwZ6enna/uJ1GiSV8+OGHExMTCOvhKwFt2ADQTjB6SM4g3yKvWvm5bczs5PXn+z7QDitF0jW3a1fNMNWbrPKD9qI/PrnS7HNhyHrXj+fJ8nuQEOBJk82WFaX8UMJbLreHfnzvtDPoo3pCAGLVoUPJ4nEh4z5qCWpg2NTUFMzb+uFCgtpqtXwTtdji9GnTCcCdTq8oRwCiiiOjTnV3iO8zLVO4Vx+Ut1hhqjf5VNzRvy4rNYNFdhuExVvyZXXhy9xu003U0wvhGEHn+vXriEGNhq5Tcau9gn9dyoWrqKpaJxX58aPIq1bujYRV/fm+d1tmaUYfzN0FP7ViVG/yKeu1RSTR38/t0kb9S8jqUSQEKHBZk3rmbh5frM6ZZ5xChSHIOg9vQGH2ypUr55Y3wKJiEorSKFZf8y0i1Db+2qoQnxOYRDZFuXpYHxQftAJUz7LKD2KK/n5YLegEVAvMHgUwnzuf2MZqLaFjks8PLFh16FyRx/26eL1Z40fNM3OT78zPfIDqQoRdBQkh+9709pwDE6+9KO7oX5eVJiOOMmqdO313K/sLAm+dyPyQa6OPdKxq5gfEZRYXcgvzo6X8RVQLZOAQKM4Mdj6KtJuUHtcHle1WdOpZmrQXxQdHGXWOt6PIzePyfALXZq5pN6AfpJDS7LAsomUBV0igXSh2ZKRpDy9QYdE9P+Aoo4hA2c18bp2auabdgH6QKrxyhjG12GJ2vC/kuqTOs1wS7e05ySZd8wNgNBk9pw9Iu1ib56BqjxJc1zsVZA6RdZ44C6oFZqMQQGkD2QkZDOWMxYWclfHSinRhFtZacamX6aofrDQZceBpBFTLN61+ZvUwl/JD3ZrCpmZFXbp0yTpPHMSqFng9Uq0sSZ0yZEHT+Q1WXOpluuoHt0u359fJr6IPSAd4i4it7lEQcqOH5mc+cHlwKukWemqxUS2AMWSlUagBlaf1Qfk5Ky71Mt30A7CqWsCBRhGB2gBKdo2agHG+UhxxfB0kkgzaCYx5jhmvFgiy+02vboVWly77AVgZ9cWBRlGDp71SvF6cGfS3I3nVBVdnLZAE8DsByH61QHG75M1JVse1i1ZE6mUc8ANvoBHnIsQOKg0wBqurEC/pCr1GXSdIZmqxK8hMtB7eGrMu3fcDwLkIiYFY4F95hq7QI9AJNIW1+qDnNzywcMMPOBchcaxZC8BzhZkPZJ9OkgFqi0X8oOW5S7CBuZvH6QQe1f36YO5uRB4rFvU4TvgBWPm1SIL4XcELE2NHaAzpZXEhh9qe/2c16VEnUMi05MpWKwoR+gGp7wrAMwa2I6UEZQPWYnN+etoJwMqAxjWsHPihHxBNo4DC3gU3MZeZa2QDOD938zh+PnwMFb7szC5uG5nnVN5shSAC3PEDDjFyhbrGwN6FLmJ1AzRpC1pu7rN+VnK7dnH5eM3tpTErBBHgjB9wiJF7sHchYdT2kwulCcT9Un6oaeg3oQ00R4JMaaMVf4jCGT8wZyFwLSOXYO9CfODuVYrXEccbTSYPAD9KBpeZi4+lMTPCWPGHKFzxA8BNNF2GvQtRUVssVoojxZnBRvsP+2E3QATIIspcwK4xLvmBWS1gFcFVGvYu0BXqYTX9+w3VJDd6CJ9RpX78F4b+yPAWqLhbH3PBosY45AdgpWbAKoLz+NuR4Aoo9rq8hKpqoC/NDhenTweH5s6xJn/VBXcM0R+hn3E/XmQOGnc7CMQxP2C1IG3U7V1AIbdSvG6dTB57WE7o9plY8TxgagCelL4N6NOLrGbKOWiBuOUHYOUnJOmh/kik8aOIxUu1Bet8rKgleup2gHeF/NgRr+l/5gOkaqE0QQ/oAhxmGhr6AYkMxLvCrZNWQPS6FhLZh6fuYm1+5ibfQXrKhathQ/PCztuFe+2TOIPz1kniJhxmGhr6AYmY2mJxPnfeH5c73Ienjab/jsrmdW1gFZwokwbMnuTFfivaEAv6AYkFhG9E/6ia7FHJsM4EALfodIkeGZvYFHhGZbt9kriD7JPMnuQQOOgHsnBF6GeSOEzdfXhiIgInAP6MV9porn1mzKVfhnnVWWSHdvYkh8A9PzAfNg43ygp19+FplZab/tvAjOzz6+sugek1Qaxs8roMLcFB2JPcIu75AR42sXTOQiBJEsIMTO7k1eWBjICW4BpSuOSc5HA45weA1QLSBVo0A4XPErg6r0vIpvnVw9YPR+rioh+AlV+UkARoywwUqy2Bg46cQYqVc3dZPxlphLN+IL3KLHCRmOnADBSeJazk2E13ltJc/oOkW0joKD1u/V6kEa76wUqvMgtcJE46NgPF6kFHa1iO6T7SDbmw0/qxSCNc9QOvwLX61yUkciIyA+Dl2FXDH1iO6Spmja121fqxSCMc9QNgVMBZ1CIxEJ0ZCCvraJLuIj9E8X7rNyIBOOwHbDIi8RGDGShWsivXOOoiEj24b34rOOwHbDIiMRGbGQC7I2HlmCRIYa0+4O43reCuH4CVX5dLxJCoiNMMgFeOMWcvczJN8tSuLh+vifz3zTaO+4FRvGIvAumcytaV4xjMQFjZDJytRskjN3x+nfW7kGDc9oNVHsCqN+mM6uGV4zjNAKyuFjDrJosM9Co/Z/0uJBin/QB4tW/5mQlpm9rFldUL5tcl0IzgTUyTb2ftNjEQMeSHXhywfhQSjOt+AFaKV2yKJe2xNLOyuQ0OlmasPBYTq8bIcdJyMkiTIEeatk4a/ECaYrncKWkDFBhlqiri8uJZK4PFx53arTQWcdJyIsjIooU91s9BmpIGP2C1gHSCOQA08dGHHH6aKDINbe7uBJoEs0cK/ACs/N6EtIQ5Urm8xcpXycBJy8lRvF8fcDe0tqAfkOzibY+1XCTv6o4oK0ki8bHSkMBpB22SFj9YfqrNyUSEBFN8UB8U1nY3QKwkiXMR4mNlmCnXqGiTlPiB2QjLTjkShpV8kmgfcl2MngN2IcQDt0qOgpT4gTdEhFtQkdCYLUUOTEpiISZ2pMhY2mjdfBKedPgBuDN0b3UOIKQR0lJUvN+RpuQVf1rs1wckKry5HXJ7u1wXTDWp8QOw8vMTEoBLLUXCyiJ3hXtZuIkY6Vbs6qiBDJAuP1gpAugDQiy80rdDLUWCV4adu3s5YcZSFqRDYK5yY7m6dWekyg84UZkEU7u6EhqKDzrSUiSsmojAMk1UcIGK6EiVH5iPEDvoiAXKidJtAFdwcpDJSlGGZZpIYOUgUtLkB2ClKQCwhEVMVnahWePswparMi1XuOscVg4iJW1+YFYLWMIigrnRTWW7lW2cYmXkNHf96xBWDqImZX4A2GpEbFb1IW+yMoxrmLt36QPSHqwcRE36/ACsahlgpbvH8fqQl/c/ca8P2Y+3GYMxAkofkFZh5SAG0ukHyAorHQlrvKmJdIXexNvoZnm9e2+jm3QsVLB66zRaQluwchADqfQDsHpZeQBX4HPVe5irmKRnYqpXoFlJOUdGtA4rB/GQVj8A3mhuWe5cMb/hTmXcOEMyjFkmSFtQuGMJy/0HHBnRKqwcxEOK/UBhu0JhrbHSIckuqza6cWgecnhYLWgTVg5iI/V+oFjVWDR3l2cS8pJkD3NAUZqXrFm5CrZ2hkcqB4W11v0kHZIRPwCeB8g4E8BO5qyyakCRK8uXtseqJi9aQki4KWZsZMcPgNdSJKNNPDj0KHOYA4rm7oY3WHkgXdgdy7SEplQPLx+vQWaw7ifpkEz5AfDihd07t+Z25WnvwVt1kqSTVQOKHF2UoiVoCa0hTzc3xYyBrPmBwmtftiZ/olC5OLDqDEkdZuvKwh7rR08vtiUU7uVSFvUxh4pw35sYyKYfKOq4AisK6cUMkZWnrd867diWAOgKfqRAML/OuoEkAu753P8PZYe1BpED8+0AAAAASUVORK5CYII=";
    ViewData["Default1"] = "iVBORw0KGgoAAAANSUhEUgAAAHMAAABcCAIAAADS2x1SAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAE22SURBVHhe7bwHdJXXme6vNbEtCYHq6b33otN770W9gQpIqCBEk+gqCCEhukASAgmBUO9dIHo12OC4JnHs5GaSTGYmM5MpiUsytlPv+50jFE/uZMq947X+a/2917O29/m+U77z28/37HcfwBHuez//Wl+Fvib7Velrsl+Vvib7Velrsl+Vvib7Velrsl+Vvib7Velrsl+Vvib7Velrsl+Vvib7Velrsl+Vvib7Vel/jGzqg1+kPfwF9MEHv/Df/4UvJBjAkYxHv/iTJ///Qf8DZAP3f5H+EMEHTIGm6+7PnXd/7riDCAbwBO+9n8MpQPzlV/1/RzD9Yf3JRWY//ijrEfLV4Hjmf98c/5dkgebqpcDHg1sBHzCFHo7AQwANV5MSulA47gl9AXh++Mh/S/DysGCq7F+asP9HATLwAVwwCK429/FHxa99vPObnxx4+9PD7316/Du/PPKtX+5965PqNz85+M6n+97+dOvzj3MefwSv+pP3+XP6vyELjOBqVh+GYcERAFf49CO4lD1vfQLXBNry/OOipx/BRQPuMFyYkvCsrL78v6Iw2fAAyNpCiOEhfCi8LRwM3yVwHASD8JPDZ8PvAPoylNUXwvSXvPZx7Tufnv3gV+M//uzRP3zx7J9+/c6//Oa7H/3mrX/+9fN/+vXjf/ji3t9/ceunX9z86RdLf/P5qfd/CXzBzqtv9ecUAR/wZUxAZ9Vx8HroYQzXtHqbwDxDD18MtPptoQemde982vHhr+AK7vzdF3f/7ouFv/789Hd/BRcNRih9/eMNryITDp+16pQvf+6fE1xeWHAB8JXg/ghPEqAM+zd8JeFxWKtjeH+YRXg+9KtvCFcLp+Ad4K2AaeN7nwK1T3/z+z/8e+3Xv/vDx7/+/b98/rt/+vx3//z57/72V7/70ae/fe/nvwFH5736n8CNWEUJnwSXDt8faIKn4NItt39uDSl8KWGrwvHwEcAENOEeqXz+MXiz7bu/+uY///qX//YSP/n172H+B3/4GdxNVW98svn1j9e/ivgX3gfeED4+PCt/TmH6wCX/yUfwETBJu775SdnrH8O3Ws0Z6GGqwgTDhgDBd4HnALj9b3/a9b1fAT640+EIeAVuoPBlwwUv/+3ncIUr1/qfNXgefDnof/Wb3//ss99N/PgzeE+4QVev9k8UAZcO/wlbAG4l461/US3/C/QwXn0SnDLfRk4B0/ApmAy43Cs/+Ncbf/v5g79H7qC/+uVvVy7h32vf/sVvLv/gX4Hv9jc+2fQaEliA5k/gfplyeCIBGQgmA14IgMBcA3/5r0e//Uv4PhAy4XwPR+SGh/+UOf0tX9eypfGSuuoIfErzt34JM/rmP//6p//6u3/87Hdwea/946+n/uqz2Z98vvg3n//lJ//R1f6nDRDDlLzxT7+GT4HoW73sLwtJg7DCj2EA3xnmFmwCcwIUNj79CGYbHBoOR5gJOLvtjU8e/sMXK5/zX27v/+I3Qz/8rOFdJB/AOAAFvBbGF3ZxWDCGz4JTMAB88OTe//WvH70w1/c+/s3Yjz9bDZmKZx/Dxex98tM9M6/t6BrL23/UWVCu92f6c/LzNxaHXwLtt79Hbu0vfvd76GH8XzXqf9jg3WDOYLLhG4XpfVkRYB8wRcGTj8AFwBFuWLhtk3MrdPmVMOejP/oMXgkzAzaBOzHtzJ1g211YNMGqED0rn/DfbB9+9BtYK1q+/Ut4Q/ho4As3Mkwn5BLQXLUqYIXphDu69Tu//MH/YTHwIIQPLCmwwvz1L3/7dz/7x+fPn4+OjjY3N5eUlGRkZKSnp6empmZnZxcXF1dWVq687H+6wQx99tvfD//wM0D0p2Rb3v553fx3qrtu8ZLNTLacI1AL+QqLN+jxB7z+gIrMUJPpOjJDw+AbeTKLSGOVmS/kV3fhRRcI4gtEyQVycjdN0cNU3a7cu/Jp/7X2vz757cxPPge+EIUwl3BnQD4CXxCADt/mcBAyB5bmldf8+fbJJ59873vf22q2pOLJGxW6HKkqRSirqakpLS3NzMwMBALQFxYWfkWIf/f7P0DIwKX+G7K3vnvL5fDpJCophZ2MIcvjcbo4rGMdKgVL2kzk7JEbDyrNdSorDDayJUECw4EiehMIgVhsThxhcyIFgUuUAOhOjKALJ7xAknZTZXOZxUv5lTdKq1c++c83sBuk1dxPPoeiov7dT+HOgJUKlhdgDVUkuBXKjJWn/pn2/FQXTOp8VslcxqaDdO5OKrOUTC8i0vIJ1Lv9wzf6h8baOi7WHjpUWFJgtns8HnDxli1bVl78P9ru//0XYJQwVngY4fWqnDqDQ6ZwCMSZ/OR8lqiYyKpAUyvi8RWxmO1oYgdDMZaSP5G5aSSwfsSTc07rruerynGsLBTFm0TMRFHKcKxGquQyT3eJpe6myoHveZxQtiZeFpOgJVA0IemINCOVuVy842ZZze2q/Xe2H7y7o/bervrwNUGD7IMbHFbC+b/+HO7x63/7+bd+/htYhVdO/3vtH7/9wf9auPnNtou3KvZM+dZPunP2k5l7SbTdBOpuIrWGSN0jkDR7g50lZUN1h+bbzj0dGr/T0zfccuLMmTONjY2HDx9ubW1dea//oQal0aoVIlxeeYrbU5Ka0Vi0uWtj+blgznGNpZEl3keg16CIrQrdMYXujMV5d2ftt/tG3ukeeP3ouZvwTby5MykFl715rWb/DpU5W6LaprGAcaaD+dOBfE50DCcyWhQVy4iMBglj4sXrEqUJaEUSzoAlWYn0mZTC6WABPHPavwHG8MLjMu1yyU4g/nD/kfCV/cftt1980Vu0qTs77/nJ8zBb8D6z6RuBZjWRuotA3oUn78STdhLIO4iUbUToabuozGvHT93p7HrY2/d0dPztO/efPXs2MTHR0dHR3d09MDCw8r7/cy2idLsbpm5+dvbdV5/+4P6jpxd6RwtLT8n1dSTmbhTx9umzd86cu3P63L1znYjaOx90Xnh88dLdsx2Lh5oeNxx/uO/IwwMtNw4cub/7ENz+P7p536XVC+ITGDFrGWti6JFRTpHYIRJb+AIjj28ViBDxhToGU00gGSm0owbLEY1ht0JVIkluqdpZ7PKZuAIDk2vkCGD9SUtLg5s3Pz/fTmXPZ29eyC1b2rBlqWBrA1cEl342JfW0y3vK6jilt542WGt5wjqRpJYvPsAX7ePw9zBYNTRmNY1eQ2PshjGVUU1l7KbQ95Dpu8mMh5cuvz4y9uHz5+8/ezY3N9fb29vT0wOgf/azn33++edhNP+PLaLtSjGsqp999tmP33nn97///a8++uj13qt9OQUnVIYGpmAfjrIHTaxJxNWgCLuT8HvQpGuHW+6d7XjY1f1sYPi9+aXv3Lj1wd3733/4+MOpxW+e6ymwu508MTUqmh4VLY1Zq4tZO3Li5MCpU73HT1w8fqLr+InO48fPnzjR03a24/jxfVu2eBVKh1DU6Avs8fq2Z2SW5uYGHA6PwWgQiORkmgIWT4FYw2ArcGQtgWoi0e0UlpfGrWfy6hi8bRj8NnRIGPx2LL4yCb2Hzd3D4R2UJh9SaxrV2rpk+X6+cD9ftF8o2i8Q7WXzVhCTKKU4YhYK60xALQ4OXZuaun/z5t2bN2/duHH37t179+5980V766233n333e985zsrtP47LeJbPzsO//ng0aOp+oafvPcewP3FX/747cGxk3bXPjq7Gm4rLGEHGr89EbsnibgXRdyTRJBFr5XFxG5Pwm5H4XZiifUM3mt9g9978Ojq8ZO1G4sDcpUQhRHGrC3GEregcFvRuPJE1KaEJF9svGJNjCAq+uTB2s6jrd2nz4xfvTrRP9B+9Oj+yq1luXkna3Yfqdm9t3LrrtLSkszMDIPJzObIcER+EoYXG89dF88LSRAbz46K5ketgbfaisJsTcJuTcJUJmG2JKJDQiFKwgDrHXjCPoGgVprcpDccMZkbVdpaiRRxNJtXQqJkYPC2hKTktevgxmJERbPXxHDXxepZvOXl5fv37z969AjiAuC++eabb7zxxttvv/3ee++9//773//+98Pg/tMW8eHHR8Ojd65dmz3cBNnzwc07P7r3+M3pmaXm1p4NhYcVmt00RhmJmoPFOxOT5DFr6a9EhsWIBEVx1qwF9Z1rP3v06LGq7cUut5lKdyYmVmJw2zC4KjQWvn9FYlJFAqokPiknLsG/Lla3Zq0wKpoXvWa0t3dudPT20tLDO3euzcyMXrmydPny8tDwZGfnidKyYo3WTiJL164TrV0nWBfLWxfLWRvLjY0HFiDqK5E2vkCJAbJoMCwArQxhRfrQwy0J6MpEdBUGt4NM2c1k7+cJ9guFtVJZrVCylc3LpzO9OLw+ESWKjZPGxSnjE3QJSelM3ka5dofdW5ue21hQ0rq9+t1nz99/970PvgNU33/v3XfffvOt995+58Pvfve7778f5vbnWsT7HzWsDP/wh+/cvfdq/8BCS+v8oaaL+YVTB+vuXbh469y5kerdRzMythqMqWyuFotjr4tlx6xlR69hg3HWxUlRaBkaI0xI3FRYmJGSolUqBSQSMTLSKhTZRBCsQkR8gZ3Lc3J5ejx+B6wwZGoJgZiGxlpQGCMWpyeSJvv758fGFicnb80vjPdenm483F20qcli2sinubk4g5TgJRC1GKwChVbj8II1MSwwWmRk96nTvWfPnqyrq8jIqKbSK1FoxMXAGo2tTERcDMRD3DHAGhBvJ5C2E8m7qLRtNMZWJmszk11AZ+fRGIUcXolIctDnb0rPbM3IOp2Z071hU3dO0dXiyrGqPWPb9k5s2/e9N9/+2Q9//OP3vv39N996/403333+xoff/s6HH3ywwu7/aBHTPym6/Xev9/3lwsqBP/zh07/7h0eXrxyzO5uN5hoGax9PUCdX7NXptuoN+QplUCi0sVhOFtvDZHko1ACRIktI4sQnENauS1yzZl1kZORf/AVozV/8RXtra8exY+Eeidfjx7tOnLjU1tbR3HKkumZn3vrOnNyz2bktObk1/sD2YEqBxeoSS7Q0GgccGhUFjivBY9YzsOliosNINXoYGh8jD43JRGPdKLRhbax27TozgZSh01fm5Jysrz9RV7e7aGORzQF3fTWsWnTmLhpjB5m6nUDchMHlYAmpBLIqLoEZBeVKFCsqCpzBiV7DXxOzi0rfw+IeEEpO+/wdWTkX1udfKSsfqdk9vm//xN79b88t/vi1N763eBMWkkf1rbN5ZRPpRT958uyvnr/1g+dvAuLX7j94/OjRCrtQ++KLLz7++OOIiz+wn//+3ub367e/VVfxRgucuLuz7t2egW9PzveVlvdsKtnN4lQz2NV84XahcJtEukWaXCFTVCnV1UZzbSClQKnyMpmqJDRzzVr8mjXomBj0y68kvvRy7DdeinvppYSXXkp86SWIRSZy/0a2HjjYcfRo9+nTg93dcyMjyzMz95aWvnPn7psLi0ud50eaW9v37t2amRVQKJREEj8yqhSDKSRhclm4dCHBqyYbnXRVCksdYOj9DI2brnbQlBaK3EjRrV2njFnb3tAA8X3xzJnBixcvnTp9Yu++fQWFp/0pjSrNPp2+QqEqkCttdCY3Lp4RvYYWypNwpDAjI3lR0VUY7B4Wp1GpOu0Pdm3Iv5BfcCG/8Ep5xdLxEz96+vp3R2fu1xxazCufSS1ClFI45d/wN0+eQ2w+nZgd6eoe6OmFaP7Vr37193//9z/96U+hxohofFNe9dC98XFa9qu5uU83Fb6+fcdo9Z6Wjc+Odzw60AzV4kmrA1bYajKtmkSFIqaawQLW+4Ti/WLpIYd7q06fLRZbGUwJGsNes5YfFy9JQqnQaC0KLY2JAYNQQ+sDJTKKHBkJcOE7wMojANfAV4KwfvmVvo5OiIKbc3O3FxYhc6FyOFRckqs3qCkUwdp1pSj0Jix6Iwm7gYotIGOzeYRsDj6Hg89l4TNEBIeBorPTtGaqzkj1xyX44hM8cfFDJ0+NdHRM9F5eGp94tHzjxsTk+ebmtrKKfemZeVqtGk8Qrl0nXrtOujZWEL0GphwsTIuM5ERG7cATdxEpB0XitAx5TpbmlM8PfCEJH3VceOPMBQBazxHVcYSH+BKwdj1LUEvn1tK4jQJpvUydxxPsKC0fGRn54Q9/+Fd/9Vc/+clPIlzXbdnL5rRlm/e2z38vNf3VnKxX8zc83Vr6/EjN0aL9u7Nb1fqjcm2zVNnIlTRyxNUUWg2dVU1nNpmsdRr9FpEkl8n2kakeMiWIJxWg8RUcQSWbV0ZnFVPohWRaCoNiEVLVQrIMhebExYNYUdGe2DhLzDpF1BppVDT06ugYU8y6GyOjs/0DsAzWbC7NdTrTeAJOVDTt5VdgGirRqNIkVEUiqjwJXZGEKkfBGoXagsLsJJLLmeSggmK10JxqysYk1GY8oYJMKU7CbEJhcqGo6ulZHhzqO3mqdffumrz1+Xr9ehY7h0LJo1A3kCgeLM6UhJLFx0MyMGJieFgU00wWKEm5TnHAL8pwi5v1xksFGxvE0jqOAFAedXtbXJ4Wt+eQ1QZR1sgTH+KLm6SKJqXmsEZfIJJs3rx5dHT0gw8++PDDDyPK7+h8N6wZ183B6zb/ssN/x+e/nwJ8s18tBL4bX99d9vxI+RvNrzYcf7D38FJR1UEy8yCFdZDBreVBTS7ezuBWUpnbKcydZMYuMmMnhbmDzNhOoG7Dk7dhSFvRhK0Y4kYGxa9lpqhYRUSKTccwOJhGL0frYmgcdLWdqjFTNSaq2Ui16igONXVDPNoBpVV0DDMymv1KpHnNWl5kFDg9OXqNIjomXGBtTUSDYN2vTEyCJWsLBuuwMNwWxjYsAeotOLKNQAJVEYhV0BPJW4jkDAzOEJ8gi16jjVnrjIvPS0JtwxHLcfhcFMaXkKSLi+O5mXwHQ8IlwQaHFxfLE2DsZmpQQ9uOJcB2bjeJtofK3K9QHVCqD6q0O+GWVWlOenzHvb56ieKQWntYb2yy2cuU6nChBiVaRN8TbvEdXc4tU+4N4/plE5g3eMOeetudejeQ+iAj60luzpN8dZtN3mpWn3Z98skn8xurRlMLuxiKDpKkg5K8G0epwVN346nQV+Mou3DkXVjSDgxpB5q4DUXYloQPq4hJMnpZdjvDbaI7zXSfjpYho+bxKQV04nomIY9NKuWzisXsNBM3R82u4DJK4rGpaJxkTYxwzRpRdLRjXax8TYwoKhrQqKLXmGLW+tbGro9L2JiQCPWcy0CxG6lAGUxdhcIiQuOgyNuSAKUechCKBCi26mTyHSLxRi7XjcbIY+OrMIQdRDJsHCxensXO9jOJZh5RLSEYYuMk0TH0V6LY1ASOhgDV21YUeieOuIPF3glLDpe/k8XdyeXtlylqVeparb7eaKrV6I64PUecrsN2R5Pd+dprr73zzjsRF25xa+/Itt1R5d0ypd2wpN8wZ1835yybM5atKTdsya0qaYtK02mWndBLj2rkJ03Zj0qz7m+FyhkCuy9r40VXxhmc4DRFeoohP8FSHGFKd2KIO9HEHWgCkN2ehA8L9gtZYqrBx0qXkcvx+AocvgKLHNyKwsHT9uM4B9CsWjTsR7nrtcIMm7BSIqpjycqw+CAKq4lL1MXGlyWi8xMSM+ISnVAVrIkBC8tDArLZPHwZBi2MihKBIqPFUWuEkVEgyA2ow5DCC4ffhidCvYUYGUuA8mtjInoXjrgTQ3DYmXofYxMBm0fEBAQEk5FiVpOzYhMsMWslMTE0JZbJTRJHRVfiCFuIpIpETBWRspVA2kVn1wjE+xTKg3pjrU7fYLI0ebwNVhukRKPN/vrrrz99+jSiY4nfvsQ9v8y9eJdTeVuz/qYxbdkiP6kQN8mTm2WGLrVnymwZMGm69LIzOnGzOvggPXA/LXgvO3irwH+9xD1XdtqT2mKwNspU9XzxHkVyaYqhymAvMjuqSfzdVOEeqmgfSbCPxN1F5xSLOE4Xd38SfS+KWYNh1WDZTqdzD4a1F8Pah2EfQDEPJDFqUayNydyAQ7BVItyKgl0GLiM+SREFQRy7A0uEWngnhQpTUpKE3hCXRHs50ikUOYRCK49vQcQzc7kmDicZh4MNFZTYIFhUoU/GYjUksp5E1uFwW3GESsgQNKYSjTW7GBYHYzMBW0rAZHPxZjtN76Rtik/cGJ9UGJ/oZmMVGmJyVLQkKloeFa2KjgndCsgebxeDvVcsPajWHgTPWu0Nbm+dxQpYmxzOGzduXL9+PaJrWdy+KDi3wO+4xu+6wbt4h1NyU6c5LpMekVkG9L5lKyxxzlmzedik6tHzmxSCI0phi0rUqpac0rpup9iXM40LObrZXOVEbqknea9CUcsU7ObKqjjJ+fzkoCjZb9T40ywZGcbcgHqDX5WTpsnw6VOsZpdjpQFcj8fj8/n2A1w0C+AeTGSU8VhbE5A8rUpEgjWwLp4fGQ21BGwQoIbjwU40Zi0rZi01Krqj9Rio/Wgr9J3Hjp8/tlI1tzc3N1VXV+XlbQ4EK1JSqzIySjzeTT5/usnslEjdIrGLw9nL5RsDbK+eVk4kbMag17PwFjtd62duSUwqj08qh00jGm01UFNZ2MC6WNOaGFhvldFrzDExABdSvhp2/2xejUBYF0hp3ZB/BDLXbDlgMEKFMDk5GdFzR3Lxlvj8dSHwbV8Qdl4XVF4S5Hfws87wTZ3K9Otm53Wb9ppLOedQjlqSe4zSKyZJn0V80chtVfNa1fyTOvVyUHk9KFtKkS6kiOdSyq2CbQrOFjW/QsPbbBZsCErzTeJNekGFildiFOalKIKFOmeZxZbrdLlcgNVut9tsNkDsdrsBMbR9KOa+JMbWBGxVAgbIlsWjc2ITbWtjoULCv/wK7KrBqpRXXiEjiqRHRbPCNX9Ioug1bQdre1uPDba1zV7qvT0+/mh+/vXl5W/evv3q3PxMR+dAc3NPQ0Pb/v2Htm7dX7LZUGYIpBmCyRIjDqvAxjn1FE2QUQ5kE1Bgz/JEVCaPUJ4AoBPhILjYKMKK5DixEONdFwsRvA0WFSKtXq5pcfv264171Jo9Gm1vb+/Y2FhE921h9x1Rzx3RhZvCMN9dV4RbegRl3YJdA7x2xMXc7GWjd9liXLAppuyyGZds3p085xJPuzintcxmFfOwUrzkl1wLQC8KqdQl2KrnAt+tKk6lhlup4VSoOWUaTqmFn71e5qrRaU7aOGMBdbXXnuYGvtDC/oUWfgjEN1LpRRTqRgo1l0iC4IN4lUbHJL30cuLLL5OiokkvRzJeieK9EiWPWqOPXutYGxuIT0pNwmSgMDmJmFzIigRUMYFSSqRWUOhbKPS7V/pem5x6c+naW9euP5udezY7+2xm9snMzNL5rst79rbk5FXoDE4qRcJHC4P09Ni4TbA2xiO/dYSwJpUlojwait1AtRmoAQFRa6SK1EQ5CwpBdDWBdpDB38MS7GLzd4kkNUpVR0dHZ2dnxIXb3Au3eF03oeeev8FtX2LXDbN3XeHsusw5NMI5u8BqX2LB8aM3xUdvimpvJDuu2YzXHfprDtF5g6BDz2nTMhrkAJd3xcK/amN3GIRLfv5SgLcYKHELy6y8LXpumZFbYOfnePhpqcK0zUrmTIA1G4SePRVgjwe4/X5+r1/Y5ReBzgfCtvV6vZuo9I00RhGVnk+hZZEoPhxBn4Sir4mJe/llGkTBulhxQoIDTyjBEBBrJ6Cr4lDb4tHbEzHIj3BJ2B2JmJ3xMMZtw+ArMYQKDGEzFr8JjX0yNvZ8euatxcX3btwEPe4fmDncdKG4eJ/LlCNjaCU4oRoPS5YsOhqwliUkWq1U2I/YzFSfnFxExJQmJpWhMJVsdpaSrbTT14uosFbvwTN2khjbaawdHN5OkfhIY2NbW1tEz3129112121W5w0QE3RyjtU0wWoYYx6foZ+Zo52coR6foGbNqLPnNbkLuvXX9KBNNzT29uSCKUXRgtLZpwosmTyLJumci9Om4w7YeIt+7mKAsxhkQ78QEMz5OH0O1nkr85yF2WZhzgWY80HmHCLWbIA9HWRPBjnDAd5AgN8fEPQGRRcC4i5QcL2SuR6qYBq9kErLp9I20OhZZIofT7BisEECcT2FCqeK6IyNICp9M5GyPQ69DfiGtP2FYLwlHlWakFSMCLUpHvlJsyQhCZg+HRldbmsbqq45lZ1ZZVJkJFNdOorezVCkMOQ+xuaERLONBg8tVlouE1san1SaCKxhh4KtwGAr6fT1UqbZx6mEicRRthFo26iMKjZ3u0B4pKnpxIkTET0PWJceMnseMC7eZZy/iajzBr39Bv30Iv3sEq1tgXZqlnpqlnJiinR0jHBkiNAyQq6ckVrbZbYLiuxlfeZ1fep1o+ea2bpk0y06pFfNikWXYsHFW/TxFvzyRa98yStf8IqvWvntBs4JHbNVxxsPsAArwEX4BhC+MyFNBtgTQUgJ3mBAcCUovojAlXQGJO2IAF8Rg1lIZ6jSuPJMrjqVq/Nziyi0EgK5HEeqRBMqsMQKHKkcQyhLwpbHo8vjUFVxSWFVxKNCK1JSWXxiaVxiKfTxCeVxiWVwm8MYcGMwG8iYLC4+RUL0KEkOHcVoocK+WeOh57BxmxNRCFPo4R2QTSCmHIWuwMNGg1CGJZSSqaVs7lYSrZLGBLL7tu04cOBAU1NTxOlpzvkbnN5HzEsP6V23ae3XaR3LdIB7/hat8ya1/Tr19Bzl2DilZYTUMkpsHccfHcM3jxDSWpk1l8itE8TTc+SzS5Sz1yjty7Rz16mg49eZh5Y4B5d4exaFO+clNQvKvdd0+jGbpE3La1KyG5WyeS+nRcM4rEb4rijAnA1FBPTTQdYEpESQO4wEBe+Kj3fBK2zzCk97WAc0/HyZcINcnKXg5UpZG8SKVI7Ow4R73GhnalxMrY2ejsZkgFBoUDoKXRqPLotDpyWhyuJQwBrMWx6XVBabhGBdiy5fh65Yh94cB6GMKUQnrcehMkmYdDoWlEXBqj2MdBauCI0qRqyaBMlQnpBYBosbbK+RXUkSIIbyC3abpTDBdGYZh1tSUgIb3Orq6oaGhgjfotk3b/LPmlKXTJnLhsxlXcY1bdqCNnVen7agT1vUpV/Ttd8gnZ4ntYwQ63oIh/pCzh2FHt/Yjzs8gG8aRMYto/hjEwQAfWaBcnaJ2rZIhR7mCYg7mnjmBoH9sDj1uHR3X7KnVWJolPCblZoFD28uQG/RsmeD9KNaWqOa3qyhH9MyZgLM6QBjys+Y8DPGfYxRH3PQS69T0nfL6XsVtIMaSjKdpKKR1nPI+RySj0l0MohKKklHIzkZWjPNISSYFWS9nuJm4jOS0JkhZYVUDlEQhdkciS6NRJchQpW9gtrwSqI3Ml4bGZsXl5CVmJiJSsxFJRUkoTZg0IUo1GYwO2LtkCAKEsGzaFi4KkPlIJDdEY9B7hUSNdvuys7IALI7duyora2NcCzY7Qs2+4LVNm+1z1sdixbnktm5aHYsmmzzJntIjgWTc9HkXDKCHPNG17TeO6UF0M3DBCALfP+oq7imQVzLGP7ENGLnMwtkxM7XqUjCXKd3LvMaJ6R5bWJRjcB1RGA7JDDW8k0zDlazinFEzb5kY5w10po1tMMqpG/VMsa99FEvYxz4emn1StoRNfW4nnrGTDlppNSpyNvFpDw2VkZMQicloVE4JYngouNtNJyUhCZj8XIywUrDcvBJSUmJiYkJCQlxcXGxsbHr1q2LiYlZE2pZL8XnvZTgfzneFBknjlyXGZuQGp+QFlJWfGJ2fMKmuKSiuMRNCaiiRFQKnpDHYK5nsXNZ7GK5otzvz0lN3U7i7cawduE5m6n8DXLtxtT04qKiqqoqCIQIw7TTNOswz9kt8zbrAsgKsi9YHAtmRHNG1wLI4J3XpyxosxZUWYvqwJLOumhxzJuCs5rjU8Rjk4TWCQIEBdj28ADC91Af9tBVbPMo7tgk/vg0/sQM7uQsbu8AGfrWKVxRO83SwLE1sj1HWIFmhukA21nPLD9B4E25eZNu3oSL0apmNKvoJ3T0k3pEpwz0UQ8d4J4x0vqctH4nrd1MbdZS98soe2WUHWJSk464X42S4xMICMFwi4+PR3GwQHMV6Nq1a8NMo6Ojw31UVFRkZOQrr7wCx1dxQws/gBfAGF5Fx+EUDIZTJHZzeX6JtMDvNxSblYV62XpNcp7GYec5bdxtLOmWZN1Gi3NTdi6QBdtGuCYc9lG7fczqmDS7Z8zeOSQcgvOGtHld1qw6e0qZOy7PH5NsmhRtmRVsn+Ntm+VVzQsq5oUZ8yr7gsk/pz05Qzw1Rzw1TzizSDizQDg+jWsZxTYOYECHBzFHRjCtE9hjU9jj09jjM0hf00dMO85IP84o6aDuvkLytzB39RDq+rC1vei951HVZ1G8aTdnwM7ps7J7rcxuM6PTxDilp494aKDLdmqPjXZKD76mNigpO8WUGgnlrIlyyUFu1hIOawkNGkK9hlCnJhxQ4Xcr8LvkuKpk7NZkzBYJpkKCKROjS0WoYgFqIz+pkIfK5wNW4PvSSy/FSfEJRsoqX4yNjLGTMQ4KWJ5KpbJYLB6Pp9VqA4GAvFAnKVQrs/WKDG1yikqTZdSVWJxB+aZkTaHBWpyRVZSfX1paGrF33r9j3F521VDQpd3QqSzsSS65Kq0ckeyYEFeP8/dMcvZNsvYOM2quUHd0Uff0kg4OkRvGyQcmqLunGPnzyRYEruboOLZ1Atc6iT0xgz29gD23jDs5hz06jjkyjAayLWOY1klEx6Ywx6YR7e8n7ACaA7imEUz9MKZuCNc8hoWnNY8iglcduorWTxm1UybunIc97mKc0jHPm9mTHsa4hwYCrIdUlGoJiArRccEC0YEcqVMQmnX4WhXuoBIHfZ0K36ghNGrwh9QwIFdLyTslkCHkbWJylYhUKSJtEZIqhMQyASqPh90iIW7iEfI4uAAN66fhgjR8BoOQx8YZGSQ1iyHjyOVyYbZckCcT5yh1HoPZZrFYLalpaUUbi1x5XkWBXldgTk9PT0lJycrKKioqijjWZzo1bG4ZNu/q12y+okvv0mzex92wjVp8gLj9OPHARWTJghu8aQh3eBBbdxlz4CJmdyfmQC/2YB9+zwBp0zjfPqtPnVYCjqYhTNMwYlIgCGRPzWMA9NEJDCCGPgz36AS6dRJ9bAp9fBoZt4yjoQ8fbJ1CBKcQ+qE5gOdAb5g1IeY9Z+BAXTzjZU97WJMeWhPiWQhfalh1CkQHZeRjOsIxPe6wmtCkwdWrsHvlmO1SUoWAWMonFHII+cifRpBKeKTNPDKohIfPYuIyQ/LT8KkMfCaTkMsiFnCJm/ikMgG5UkzZJqVWSWmVUkaphFoqZG4ScQukFpsFtjM5oRYMBlNTU90bfOpCoybPCBtIv98PcCOKqukb99JyD9GyTnECnWLXZZVlUGfo0xbtRa/fmZS7PWFzQ+LO06iD3QjWhj4Ah20ewTT2Y+p60ft7MHsu47NHRJ5JdfqUDMCB4w71I46DAUA5OYu4GKgBwVWIfyLk1FhI4yt8Ae4K4in0iRnMiVlM8xROekYpv6jRTZk0kyburBdBjFjYTR9xU4fd1EZwcQhxk4p8xkA+bwGRzpkJsNaBVSGLK0X4Ii4hn03IZ5E2ckklwA7EwaXS8Wl00kYOPptFLOKBf4kVItI2MWmXlLwfpkpJ3SOj7VMw9qto26W0KgmvSqOtdNvLgqklWcGCdF9Bmr8kw1ea4S5LU5VbJWU6XYnTWOjylaRHZJYRg5sxvh0kRy3TekKkv6BU9ulVAwbNVZ3uisZwWW3sURovKS1XFPZ+hXtI4R5W7DuPhkw8MoyYsXEIu68fnzMs9I7I00akh4eABaQqckcfHkTDE+DhyTmkD3EH4isEEaZjyMMjI4iawPIhwRiOw9lVyuBcUO0wIesUHd7HPG8CFwNi9bhJNmAECzMnPMgSB3whJY5qqWcM1G4b9aqL0uek9Nop4YVur4y8JxnSgFQpADMiN/5GDqmYRy7lkUr5lHLkIJIPu2Wkg0pig5p8REdpNdBajIwWI7PFyDllY+yVcxtN0hM+xcmg+lSq8nSq+lia9kSa9kiqpiEob/AKa628A3rJca+ywWfcHYwIFOADhdjUEoxnB9FSx9a0iuVtStkFjaxHK+vVyfoMiqt6RP0G5aBBM6zXj+jMI1rLsNo6oLIPAmi5b1gWHE0uGOIFRpKz+wX7LqCAaThVITpBEAUwRhDPYsHIcOTwICqMOAx3Fesq3PDZFb4h7R/AZZykhY0cjgvTnEk/YwYLJw+ZWFNeequGflJHP2uknzfTL9loQ4idacMu6kE59YCcWqtAlrs9UhB5l5hck4wYs1JErhQStorJW4Xk7RLSPgXhiI7YoiMf1TOO62lHDczjJu5pm7DDqhh2aWcc4vNO2WWftDtV2pMqvZQq6UkR9QRgLy445xUgexk3q07LP+mQtfi0+3wRFHqSVJvoyET78jH+YpR7L9XWxDE085Wnk5Xn5Jo2qf60xHScb23huJoZ/mZa+jFq7ilK/jlKyQVK8Xly4QV6dg8n0Cf29ye7RpSeIVnagKiwn1PXiwL/gmcBAZAFmpC/EBEI5ZAHkfxFwnclXmEAKAEowjSUDGGFrR329eqpMHHoEY1j9NNG8K9qDFLCw53xfLlnHtMym9X0JiWjSUmtltAOJNNrZfQ6OaMumVGbzGyQseqT5eMW2JSLL5v4XXrhsE0yZJENm+T9Jmm3QdptUvZbDp5nWebstmsO1ZBfORTQTvtkE35BX5B/NcC77Bd0egWdPmGHT9Tm4x42cVssquaAvT4rAoVCQSEdn7COK0mSmxL1ngR9aoJ6A05dStJXUQzbyJadJO9eQnA3NmUHKlgeH6yIz9oRv2FvQsmhhNLGxLKmhIojCVtOoHMvsJwDMn+/xNsvcQ3K1l9m7b+YVH8FBUBX1TQEqxwaiMN4dVlbIRW66yFVwZJhk4aj4I/cx+C1qEP9qMYBFAz+OAEvIgUOwin4RMO0EdEMIlaHkXVGzzqjA7Hb9NyrVv6CR7DgYRxW0OvlzEYFo1EpnHULZlyCabdg2iWcdokn7bIJW0E7q/oMYX8n9chVdtus4PIjgXvZ4bzuMIx7tRMe6YifN+jn9vn4F3yGLV5zkcec43K4HJocs3qzpfTg1smbsxFkMhmHwwFcKImhooYaG41bR6Sto3DWUoXrmIpYvilW5Yuz5cT7Nsall8dlVMSllcYGi9ellsZmbInL3ha7fldcwd64TQfjC1pwKRd4gR5B4VmyvV++/jxt55nE3R2JB7qT6i4j3zmshj5Uw1WEAmRC+N5fFcILSWGAjiBbJQ4K5wA8hOc0DiJvgiAe/pKLV2fihZ3huPKSVtGtkXepFV0qzkUTf8opmAeyXoC7IuShRzgf0pzHOmEIjKnWj0jLh/iNfeRjo4BV1LkoG3jG63vC73nA29ujUIx7+JM+7miA3xeQH/HJjvhUDT71AZ/uYNDUmL6l78Dkt5b/8tO/iUhW7oFKmEgkQkkMFTLsTIDvSouLiY1bE70mck1MJJ4SyVdGG4NrnbnrfEXrAG5aGaIw64wtsTnb49ZXx22oQ4sm7ZIJW94psuWKvKwxYUtzwrYTidXnEvddSALEYOS9XcjgYE9Sbe8KcQAN0QxGXsnlkJ0hRr7saKAWRhymDAcBK1gYXgtTEpqPENbQqbCR4QnVPbhtF/BbOvEVncTKTkL9FbR+2qifMumnERlCMs4gMkybDTNm44zFN6nNG5NtGZecmuKcnRd0XhOBgO+JSVHnE96We0rFmEc87OX3B4QXkN+UpWcDsraA+niqtTe/eLn20g9mbv7da9/96IcRUmWTTHNaoetUaM8lq04CT4ALWxGwcHiLHd4Fwl4FNiqvRH4DR3lFqI62pMW4iuLsFWhbDQnMG6jBuRrp1lN8fZdcNmgSTDkVg3rlsEE5ZFAMG0HKESPkoGbcCOsbRPDBS6gD3aj9F5Ee+Z5TRt00stwj33bGZJoxIokc4ov0IQHlUA33R/MiETH+x0UPaIbhht0aigjM4SFMfT/mwBXsviu4g304qBfDMs6aVgQfNwtAEZlmTeZZU8q0pmhWvnNedG6R2X6N03GNf25R2Dor2DKvdC7ZpPNe0Yw/udcn7A4ILwegTlB0pCq70rxT5eVvNO9951zX9ydv/PTpBx//KEKuPaM0XFKb+tXGKyrDJYXuQrL6nERxQiRrRrbPoRb2MsB9+eWXge83vvGNl6JfSRLGEZw4VhFNupcrOymz7KOYjvE1nTIoJ+T9RvmAUTFkCME1KkNw5SMmxagJEKvHTLoJo2HKCN9KP23WzqwI4MJDWO4RH00bzTMGMDJs0ppgrzwCwhwO1XnhMgNxbkhAHLRae4QraDiL9KHNNGhlbx0ahMfQw44R9o1Hx3EtY0AcinTs0TF4iD82SQjt10mn58in5yinZqkty4K0awbDvEMBQTzug/JAcjEovhwU9acIhlKTJ7Ps10vzn9Zu+ebRhm9dHPzRUvjvzUWoDMfl2naFrltpuKw09Cn0l+W6Hrn2YrK6U6JskyhPSpXHIYXBy4A4bF7g+42XvhFJWrfWSEjIYSeVCslHVNw8orKWozghlUK5dkmnuKxVXdFq+kAaTb9WMwQWRhArRxC4ylGjfMyiGDerxk3aSRNQNk0bLDMG87RBD7jBQbPgIAOY1zBlqO4j1gyQakbIu0fI+4cJh4ex4RojFMcvNP4iSULHwxwBLujUHA50egF3ZhF3ZgnR2eu4tmuh8SJy/NQ87vQ8flVnFpAfQM5dJ7Yvk85eIx9YYLqXzJZ5u3nUltZkSG5zCMaCvAlQimAyTbaQa7tXnva4evFvHr3z8+/90+e/CGOFFmGyd2stlxX6CzJth0zTLtOel2kvyLXdMgQu+LcLEMu1HQpde7L6NMCNjIwMO/flmMgYJTaxgItsz1v1+GYt6aiW0Wng9Fl4A1bBoFUwZBUO2UQjNuGoTThmF044hJNOzbBOPWJQjRiFM07RjEsy7ZBPWLVjBt2IzgQa0xonDLpps3Laqpy1qees2nnrxnF+wQgve0CQMyjcOMSpGqED4kMjOIAYdiXiPsSAyC8Pq6aG7fXpBWzbNSxwDKHEnlkCraAE1iFrh1w8iTgXBBY+NgWnCKfniW2L5DPzlJZxqnHaYh632M8bPFVK7QEt/7KLM+L3DJekXdte/Kyx+NmhnW+davtgeO6v7wPZn3/x8QpXIGtxDZtd00b7mMY8qDZeVRp6Ffpuufa8XNulAPPqLsl1vXItuBgOdsm1nVJVm0h+HOH7ysuvxEbFBxmwNyc0a/EtOnyLlnBcTzhpoLUbWReNvF6T4IpJeNXMH7Tyh+28MQdv3In8Tjjl5s24ebNu/gwi+bhVNmEF8wJcgK4cM8unrOJZp3DOzZv38GHtnvcYZ4zOOZ1rWuOcUPtGZFlDoqJh3rYR+qFRPDAFvuF7H5giCq1yCFwIB+TnC6RHNIv8mLkKFF54dBzsj4XNZGjLDplAODpKah0jt4yQDw+Q912gpHXL7BfUjjO6wK5kY51W3uWTTGYYFove+/n3t33z+JY3jpY9P1L99pnW9/sGfnjt8T++9Te//Nlnv0X+1dJvfvObCJtn3Oadd/iXrJ55vW1caxnVWkJ7LNNVlfGyCgF9CSJCob8KUuqvwEO57qJEeU6sOC1Mbo0ixCYV8rH7FfhGDf6wBukPqXH1yO9MhDol/YiSd1KpOK9UdCrk7QrJWYW4Qy2+pBP3GSUDZumgSTRmlw6ZMw4R8nfHe06w3CfYjnMCS6fE0KeyDKr0k0aQZNYFoGHqrVN6y4zRNqO3TencYyr/sCxzWFI6zN47SkbWpVGEFDh3xcKTIT++SNgVe35Jx6dxoBMz+BMzhJOzxBPTxNZxUvMQCYqtul7K7i5aWq/CfNXoOa/znTI7zwc1g9n6+ULvza21b3aUPjtS+Hp947e62z4cyu2vyLpStmGgsnJk3+y7N+devT67PD8+Ph5hdQ/bvBNO/4wzMG/zTOttQBaR2gRwh1SGfpUREPeBAKvSAOMBlXFQZewHO0NWSJRnxbBLC7RhtkqwNXLMrmR0lQRVKkws5EEEx6cy4ry0BCeZkUVSbyGmHSL6anDGKoK6iqzey9DV0MzVZNNhtuZcsv6cRHcu2XhKaDvCdjbQvIdpaU1k3RWVatSkH9Mf7EGD9nWhrHBrTeghlCGRQfZJrXNc7RpTZ45KSoc4pSOcslHO9hHG7kFK/QCu4Squvg9bdwUDgnqroQ9z6CoW+d1uEN88TAQhf7g3QgKfQt88TKoZZu0cYG0d4G0ckbknTYpZt3HSbRz16gcCxvFszUye8XqJ+97WHW+drHrz2JN/fFfflaY663dMbfJd2+q5utF+IjN4fP2mU1vPdXdAi9BZOqyuXotnwOkfc/gmrO4xnXVQaxnUmIdC5l2xsNY8pDEPqE19UD+EaomrGjOgH5brriRrLkpU7RLtabH9lMjWHKcirJVgormJUYz4KEpcJH5dJCYmMinmlfjo6IQoqmiN1LzGGIzRuNYkG9dIjLFKV4JpE969nZhaTcipSgJlVSZmb03K2onRdSkVg0aoLrTDetOIdk8Hav8FNAhuLfMk8IV1z2iaNVrmjI5Zg2tW757VuWd0nmmNb0qTOq7IGZUUDvDLr7B29FB2XiDsvEDedYG07wLpQBfx4EVyXQ+l/hKlvpfScJly6Ap1y7AoY1JXMKnKnNZnzOjTp/WuGXPDRemBc478K7m+iULn9bKiR3VXP5w7996Q+1yO8USK/2rx+qndutkC3UyBeXKja7jYfyY/60hhzYl9Fy9ejFAbu2yeLleg3ZfSGcy47A4OOnyjRsegztqvtQwAYh1gReCOhFgD8X61CVKiW6k/Dz3iZUM/BIVM2yNVdYjlJ4WyVoG0SSBt5EvqIY7DDYqKP2lJmDUYfAwKuzYJvRZLiKMyEwXyRKMPmKLya1Drd6Jyd2DdRzjKXl3yALKLVw4atSNG/ZjRMGYwjeutYzrJrFMy5zIiJRpS54drUpBh1gIyT5ssMybbtNE2ZXRM6FJGFNkDkqJe7uYuRmUHrbqdsv88tfyKsKGHefgKZ+eYIn3aunNCf3JY29qna71iaux27mwPbj6b4+7LU09kJ89kKefWK+fyvLMV/rktya1Ozfk0x2ixc6zENbZZNb1eNZ2nmyowThSa2jKyD2yoqtsRobeMmewj7pRJT8poIONqML3D7T/j8l80O3sNtqsGW7/eNqC3DRlsw/qQdBZw9IDWfFVjuoL8wmi4CFLoe5CsgCzWXZZpkIpNqu5IVrdLVWclytNi+XGR7KhI1iJMPhz+wyho4Z0INGSvFxcXHx8XnxCXmBSfmJTAT060piblbcfk78WYO2XqHq2izygfNCsGTMohs3rErB0z6SfMhgmTcdIknneL5z2iBS9sT6EXL3rECyCvZMErnfdIkYEned6TvOBxzVqypvQlY8qscdhlqbJHNZnj2qYr3CN9vJZ+QdWg8nC3qqHdVHfas+tMZk73+tSejZbBAtlUtnw6xzBZ0BVqnZ2dbW1tsiaHuSPbO1CimsqTT+fKpnNkkznyiRzlaLZyKEfV4vVvSwfPXtJarto8k87grCs46w7Ou4MQCz3+tPP+tEvuQJ/VfdXsGjE5wMijRjsI+A7qrWDqAfC1znpVa+7TmC4rYaHThdY6HSx3sND1ybSw1oF6oMaAs0qEPoyhpAPobVAmSxTNIll9fHw8spMO8Q0hRlpCQgLstkUqnL2A7G/hW7uUum6t9rJe36fTX9XpBgzaIZN+1GwYN5kmTZZJMCZiT8eMMXneDShFCx7hgk+44BUtekO4vYCbs+jnIweR4wB6+4Ts0CAPDHuol9PQzdl/jrf3pLymxVRw2ufuTgt0rt94dEtKe4mztyinY8uhQ4cOHz7c2NjY0NDgu1wiabBsq9/Z2HQ45XJZcdsO5+UiW0++9kqOoSvHcCFXdT5ddsAaobXC7uui3tJn8Yw4A5MOWMf88zbvjNU96UsbTc3q96VctXr6Aa7ZNWVyzZhc0ybXpMk5aXJMGp1TJue0yTlhdADuAY0ZqRwQITS7w0DhoVLfG4IOCiGGnd4fD0JhB8XcWakSTF0PQL9MGVp8QnwSKkmgI2gL6JY9fPt+vruB5zordVxR2noV9h6Fs1fpvSwPXk5OuyJN60vOGJRlDyXnD0kKRySlY0L9nE0HmrFppqyCWa9wxiOecsvGXKoRl2rYpRwCuZWDLnm/UzDqEYx6BWN+20mf9Wy652xu8OzG3GNlu3fvtl7KFx8yC+uN5qv5hv714mYrv8GgP5vhPl+YeqpY35Ob2lxUXl5uac9ztG1wNefpmtOkzZ4IranZgBRbg1rrANS2du+Iwz9m9cyY3bMW94I39Xowe8GXNmH3Dds8E3b/kt1/y+67ZYPef8Phv2lHdNvmu2P33bB65syucXB0qGILlROwrwOCCE3oe0JwkTFIhWz5oNiADEEUKuygcIaNyRmRvJEn2h7+SwKrDYVC4fF4rpAgVeFVZqIpleoqp6bXMvOOsXKPMHIb6Tn11Mw6ctYhanYjLaeRsb6RWVjP3HSQuaGGLrlkkh5T8c6bOOdMrBMm+mEDo8XMPmnnnXMJzrr5F728Kz72eIA95uf1B9h1Wk2FJa+2ZNeuXTU1NcJ6E69ezzik5tXpuPU6QYORuUtG25NMP6wW9Kek5mcEU4KBAPIX/RwOh1arFeZpOS4pZ7MmwmDeDne6yTlncs6C7L4Fl3/GnTLt9E/YfIuu4HIg62Fq7pO03Efe9Jt25MhtT9pDZ8pDZ+CB3X/X4b8Hsvvv2/wPrb4HVu89i2cZ3kdnHXnBF+6JcKE2BL3aBIMBFdSryKkrIUG9AXMAm5R+pA9Rhn2gVNnKl1RzBMV0VgpgxWKxQJZEIlGpVBqNxuHRhRK6XMM2Org2n8AR5DtTeK40nj2VpXPRFRY6t8Ou0ok1WoVarRbvtHJb7KwWK6PRRNuno2xVUmu09DoDs8ksFArFmVreaRdzzE87oqbXq+gHFYz9CuFGJeuAhl6vpDfAQMWu1fIO6XkHtOKdetouMW2PjLlXydynEh11azQahUIhkUjgrTgcDovFYjAYdJ8owhfY6fCetXuHrJ5Zi2fR6l2yB246g/dcqffcKTfcqddcwRu+jPv+jMeetMfO4CMbgu++IwBwH7tSHjsDj+y+h3bfAyCLyHffCvI8sLjvm113jI4lnXVGYxlDSmOoi4EdIEbgAuLhEPH+MOUvGxnQI5RXjay7mKw6KUw+wBNVsLjZTLabwdQAX/gCbDabx18RX8Dl8bh8Ph++ITR2vZndauOqXnzbEhVjp5a1TccqVrNTkhn5CnqFmlWlY2/T87RiTq2Zvk9J3yunHVQgfxmnXhH+g2FarZJRq2LWadi1Bu5Bk7BES69OplUnM/eo2Y0m1jEbzA1cA5PJpNPpcElkMpkYagQtM6KgoDgtc5/Ld87hHbS671rct61euMHv2vyP7P4nNv+r9sBjh/+hK/jIlfLEEXzVEXjV7ntq9T2x+p7a/E8dwafO4Gv2wBOb71UrCF7iAz0C/9q8d83uOybg60RkcNzQ2ea0lkmNCew8DHCVRsAHKMM0EQsjfJHEgJLuUugIGBkU3qSEhcQLRHOy6qhYvlco2czlpzNZFhpdCt+K8qLR82WMLWrWHgOr3sQ+aOKFGjcgY1vEbDEXQEPjyAUcEQ9mgpkhpO+S0Wvk9GroFeBcxLyHVbRDKmR8Wk/vd3FOO7n7zZxNatoeOa0mmVqWTN2hoh420pqMcDNBw4UaDNBoNKy9EF8RhYWFBYVFmZmlTl+H1bNs8T6weBBX2n33bb7HgMnie93ie271vW73v24Ly/fM7n/N5nvN6oFTz6ze14CyNXTE4n1qBcGpFcEEPLJ4Hpndj0yuR0bXfaPjrsFxU2+7prcv6e3QX9NZ5zSWcbVpJGRVyFyErEJ/MVRLXAIXv4iLEN8QYiRDkPkAm8NKiEiu65Qqm4TSXTxhEYefwk61MbI1tCI5o1xFL1IwVFwwODQwFzAFl325MXw8er6QtkNKz+QzDqiZh/T0IwZ6q5HZqGc2G1nNFnq7HSwJMwdxRG0yknepiXkiHJeExmKAY7iF/9ALgEJhAwsvLMIR27ZtA7iFhRvTM0vdvha7d8LiuWvx3gO4Nh9EJ8B9bPG+avO9bvU9B8Q2/3Or/xmMga8NBt5nFpDvmdnz1Ox5AmQtXuD7GoI7rDBiZPy6xfMaCJ5mcj8yOh8YnfeNznuIHJAbd/SO23r7Ta11QW0eVxkGXix9YUeHd9Ww1YYsRhBDUKxaOPzMkJAKT+ZoT045Jck5LMzfyc/bzHPksrkeOlNJoTDAzuGYDjcYU7VMioVJ8bEpQQ4MwIO0Niv1pJl62EBpMVJOmChNBsphA+ZFI1UqyFUKnJmJpuLCfxdvFWiYKTR4CKci6urqqqqqAG1+QVlq+jaP/6DD22Z1j8JCZPXeCeXmI6v3IcjmhZB9zYp4FuAC2TcsQNn3BiBGoHtBr5ncr5pcr5o9r1qAsucpcASmFmAKE4NQBu5gagQ9CJkM9xOz+1Wj+4nJhQxM7idGeOh8aADQtmWNZVptCv+CAaE8pELCGsnoEOWwIK9H1OYxjXlcY57Qmiegh4cq+5DC1y1LOy1LORX63a5DBkW06qRIto8nKmHzUhlMPYXKJvMoJAmFpKWTTHSSgU5gkeB2BnxhZMS9KnKrgdykJx3SrVIDM65scFaq8JW/iwf9KtNwi2hqajpw4EBlZWV+fv6GfIC7xxs47PKdtLnPW1yXbd5xu28ZKbNg0YegAL6+Rzb/E0gDO8D1vwEWBr4Ia98bIb5vmBFkj02ux5YwYjd4GUGMCAGKwA0rZOQVjyNHEDvD3DwFvjA98A5G1yOD/Y7OfkNnXdRa58DOWuusxjKjNk9pLFNaC1Qgczrk4ILOtqizLUGvD/Va6zycVbtG1LZwyMD+pVuh7ZJpOmTqtmT1KUSqoxzRBqpIS04WECRUHI2QhEIBwTAvwBRy4b8BGt49QlsT+vuKADTMNPyS1QZH4AkRz549A9vu37+/oqJiA9IKMrO2+FMOuP0nHd5zFmeX1dVr903avbcQC3vvA1+rFyLiKaxjEBEhpmGyL+AiyfsMngA2D8XrA7j3TcAaseRrZgAN4DxPQukBNJ/CTHzZzoijATHC96l5lS/i4vsG+y09ULbdgNDQI+NbegcI1sZ/KydE+V14ss6+jEyGZUZjnlSbIMoR+4d+5QDQPaHf+DukumNCQ61AuZstKKezssk0Jw4vT0LRgS1QC3MMtzDHcAv7NPyHWFFRUdCvtsjQXxuFPsJ2t/zBgwdg23379kEsSC6n5uXl5ebmpmcU+4K7Xb4TNvc5s+OC1T1g816zAlbPfaT3PoTwhegMwQWOiFYQexHEEA5w1up/bEfCBFYw4Hvf5H5ocgNiuPHhrn+MWDuUAGBtCN8Va4dCGXExjEPTEOaLyPkIZFyV6yEIOQL0IUOQOUDeMJQtoSlBnvYQ0lzvuAfE9XbIcdAtmButZUltmVEZx1SGYYVxELbjyZouseKEILlJmHxYkNzIEx9g8SoojCwCyRYbiwFfJibRMLhkAslEJDuJlACZlklhrKcw8gmUFAzenISWxcYx1sSgAGu4RbCW0rhL6YyFIHM+oBvI0/TnFBQU5OTkAN+srKz09Fyvf6fDe8bq6jQ7eyyeaYv3LlKuIogBLlBD+FoRsgAUegANBkRwhxADXygPwOOPzJ4HZgRuyMJuJCjMCOWwgC8I8IWPhym/kBf4hhM5hCw0GSbXU2NI4egwup6AIKxNTqQ3guWRIxDZIMT1CGXHw5D3H4D99Y67eiRngDL4eklrXdRAb4HFc1ppGJHr+mWaHqmqXaw4KZQ18yV1HGENV7SfJz7IFdfyxLVcEaiOK66Hh0xuFYVRSKSkAt9EVPJLLxpClrGA/DMi9mIqdyaNM5WiGswpLi4GrODc7Ozs9PT0QDDH5a22uc+aHZ0mZx/seq2e2xbPPQSu51HIvCAofiEfEKwh1qGSwIeUYlAUQ3kLGwooM8C/8CozIjDyY0SIc4E1on/D2oWcXYEO62EorxHEoRiBYEHkQnLZjIRMeBwarCgM9wkCN2TnEGIYI9MQev/w+LHB+ciAQEesDbjB1zrbzZCvF9XmWZVxXKbtS1ZdSNb0yDSXkjWXJKpOkewUX3qEKzrAEtSAmPxdTP5OJm8Hk7c9MjLqFRB4ljEfoM+H/oHWQoroWrZ8Joc7lcKeCcr7MsSXUnxlGemluRm5mcFg0OvLcbprrK6TJkeH2TFgcS9a3LdCJRr4d5UvUqXBrgERuNX7qsULFfEK8VDpFlq+kBSG+x1CFjCBGYEv4lZgav4yULD2CugQerj3EfrwTASxyfM6rHgrKJHB6yHEr8Nxk/sZMkAUIo7YGQH9ol8xOOTGygBRyOAI6MdGB7B+EAIN1r4dsjaAvo6Y2gSsJxSGkWTNFYmyfYUvfzeDu4UWcu7adeQ1MdiYtdgIwEpfCNLBtgtBwbVMxc18/kI6ezpFMpIhGU4XDaQK+oKi3pSUypy03Ayfz+d2ex2uTVbHfovzrBn508nrwNcMmzckIqDyRWgCX0gAEOx6YTtn90H1dtcGvRc2ZhAO4fR4UZAhFTEUFc8ssO9AQIO+nBUhxEiAhsk+hN7oeoBsOsIhizwB5gZYA+gQyhUBaNAzZBA6vmJtxMsvhHBHlspQqiBHkAFi85DTkQABvuDlUHrYbums1zVmgDutNI4p9YMyTbdYcVYkh533Ub64ni2oZnDKyLRsIiUFT3JGhLAG6fNBMC/YlrWYylyEceifwc0iB1kzAf4g8vfuxJdTIH9TU1O9Xq/b7Xa6AjbnDigeLO4Js/um2X37Bd9XrVBshfIh1ANiyAFAHNZ9h//eyh7E+8QO9P2vQhlnQYIitIKFtx5e2HoADuR7IvGKhCkSl8AXWbhWliZADHxBD0yw74DjyFlYzcL7vdVVDvrw9IQz5AVuxNHw/qsz8eUxnHo9BPoxmFcHTG03NZYljXlWbZpSGMfk+gGpOvTHrDJY9Fp40ka+tEEgrhOIa/mS/XzJXoG0eiUNQnAD7KU0Jph3McR6IQjLGmPez5gLMGYDnFHkX2+KLgaV7WnqtjRofr8fELvc6TbnLou72+qetCDhC3DvWZDFDdm5WT1gYRAkQCgrkFr4IcC1I7+TIbihTLYh+5Fb9sBtZ+CWM+Wm3Q/bP5iSUG2A3O+gMOXwzQ50QqBXFq4VhbjDAogwXVF4DhCsAB32ezATsHY9MDgfIE9G3uEFwRWF/QuxAEDD+RD+iCcG10OD/Z7OAbGA5C84V2u9rjbPKI0jMm2vTNOVrGmXKo+LlY1ixQFh8g6RbLcweQ+kAcIUMewiCDEsC5y7kAKIkZVtMcieT0XMO+OHnnc1IDrvl5wPyjpSVGeQ/yMk5C9EhMudCXytwNczZ0OSFyoz2LYh9VbIv7AfC+3KVrICUjj8CxlQfoRQ9t1H+Hpv2Xy37b5rDv88yO5HNoFQfoR+doAgRm55+P4IXwC9whohYkaS9EXxEM4QhAjSwxi4r7ge2VUj02BAZiL8BCjpkIxeeVvk/VdmLlSHhARHnKGZQ/IBeWFYoY0ipDDU19e0ljmtZUptHlEar8o1sB9pT1aejAB8DLj9FwBo2KQIYgTuYgoSC4tB2Y31sLKx54KMWT8TkuFy6J8bnw+IOwOys0HViRTIhzBfp2uDzXXI6h6zeIDI3fC2ArZtIcpws4ciAlwc+nkhxBcCAXbMiACxw//A4b8fTmS777rDN+3wDTr803bfos2zbHbfMDlvGJ3LRsey0XnD4LxpdN02OhGZHLeMjpuG0CmD4zpsw0LUAHF4jUICdIURCJkD2IO8qCgQq4aXOMShcPzFHIQHsE6+eE7I4+FJRW4j5K0gjpFbAUlhB9h5SWeZU5snYYetMo1FAFDWQiorlABAk7OUxl9K5y1lcJcygCxnMU15owCWNfmNDcCXO58mv5IBgSDtCIq7gsBX0h6QnQoA2UAgAHCRn9ZdhVZXs8U9hfANhwOyMw7vL6CECKUEkg8vLIwkbKgaQ357BMqhlIBE9t2z+e85AsvO4LwriPwBqDdlxOUftHmump1XzK5Zk3vRjPx7y+sm53II+k2DY1nvuG6wX4deb1822JZDP6ddBwTmVbIr9gRMyDjMK2z/8B0QFuLl8JNDVccfn4AwRRR6GuQGeB+JnVDRFi4kYIt4Q2+7EWG5WwqrFiQsmBfIwkB0PSvwYKfkeo5gKdN+t/z0B4PqmwXKmwjf4tcb9zw5tXWs3nUmX9eeKWtPgagF867+7zSgIYub0+lwZttdtTZPn9V7I7RtA/8iERGKYOALgohA4ALolRRGoCNaAY3MBPJ7pg0Qe+/a/aGg8M07/VNO/6gzABpx+oed/hGHf9ThGwGD271XTY5urand4Jg3Oq4Da/Cy0XnLAI523ARbGRw3QHrHjRd5vUoNohz03BKW97nZ/Rwehg6GUIbOhscIXA9CNozVACGOeBbZ3RlssOdGdt4Gx53/DQuor9iAg61cAAAAAElFTkSuQmCC";

}

<h2>Allenamento @Model.StatusText</h2>

<style type="text/css">
    dt, dd {
        border-right: 1px solid #eee;
        padding-right: 16px;
    }
    .actionBar {
        padding-left: 16px;
    }
    .dobox {
        clear: right;
    }
    #timerContainer {
        padding-top: 16px;
        padding-bottom: 32px;
    }
    #timerContainer, #timer {
        text-align: center;
    }
    #timer {
        font-size: 64px;
        border-radius: 128px;
        vertical-align: middle;
    }

</style>

<div class="actionBar">
    Azioni:
    <a asp-action="Index" class="btn btn-default">Torna indietro</a>
    @if (Model.Status == 0)
    {
        <a asp-action="Start" asp-route-id="@Model.Id" class="btn btn-default">Inizia attività</a>
    }
    else if (Model.Status == 1)
    {
        <a asp-action="Close" asp-route-id="@Model.Id" class="btn btn-default">Termina attività</a>
    }
</div>

<div>
    <hr />
    <dl class="dl-horizontal dobox">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        @if (Model.EndDate != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.RaceUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RaceUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeText)
        </dd>
    </dl>
</div>


@if (Model.Status > 0)
{

    <div id="timerContainer">
        <span class="dobox" id="timer">@Model.CreationDate</span>
    </div>

    <div id="map" style="width: 100%; height: 600px"></div>

    if (Model.Status == 1)
    {
         <br/>
         <div class="dobox">
             <div class="container-fluid">
                 <div class="col col-xs-6">
                     <video autoplay></video>
                 </div>
                 <div class="col-xs-6">
                     <button type="button" class="btn btn-primary" id="takePicture">Invia immagine</button><br/>
                     <span id="curPos"></span>
                 </div>
             </div>
         </div>
    }
}


@section Scripts {
    @{
        var mapsApiKey = "AIzaSyBTXn-gcYYcipuXLVTrK0hohA-BpVRuQNs";
    }
    <script src="~/lib/signalr/browser/signalr.js"></script>
    <script type="text/javascript">

        /*
         * Descrizione ciclo: 
         * initMap() chiamato da callback di maps API
         * dati telemetrici vecchi presi da API
         * quando i dati vengono mostrati a video, iniziano chiamate telemetriche ogni x (10) secondi
         */

        // Config
        var enableImageUpload = true;

        var ignoreTimer = false; // Do not print the timer
        var simulateMovement = true; // Allow random movement on geolocation failure
        var alwaysSimulateMovement = true; // Always randomize movement


        // The rest

        var cameraEnabled = false;
        var idRunner = @ViewBag.IdUser;
        var idActivity = @ViewBag.IdActivity;
        var activityStatus = @Model.Status;
        var isOrganizer = @(ViewBag.IsOrganizer ? "true" : "false");

        var telemetryTimer = 10; // Send telemetry each <n> second


        var receiveTelemetryEndpoint = "/api/Telemetry/" + idActivity;
        var sendTelemetryEndpoint = "/api/Telemetry/" + idActivity + "/Send";

        var telemetryInterval = null;
        var imageData = "";
        //var base_image;
        var canvas;
        var defaultImages;
        var video;

        // API-Specific
        var markers = [];
        var dataList = [];
        var infoWindow;
        var map;
        var poly;
        var telemetryReceived = false;


        function initMap() {

            map = new google.maps.Map(document.getElementById('map'),
                {
                    zoom: 12,
                    // center: { lat: 52.520, lng: 13.410 }
                });

            poly = new google.maps.Polyline({
                strokeColor: '#000000',
                strokeOpacity: 1.0,
                strokeWeight: 3
            });
            poly.setMap(map);
            infowindow = new google.maps.InfoWindow();

            if (navigator.mediaDevices && enableImageUpload && !isOrganizer) {
                video = document.querySelector('video');
                
                // use MediaDevices API
                navigator.mediaDevices.getUserMedia({
                        audio: false,
                        video: {
                            width: { min: 640, ideal: 640, max: 800 },
                            height: { min: 480, ideal: 480, max: 600 },
                            facingMode: { exact: "environment" }
                        }
                    })
                    .then(function(stream) {
                        video.srcObject = stream;
                    })
                    .catch(function(error) {
                        alert('Could not access the camera. Error: ' + error.name);
                    })
                    .finally(() => {
                        cameraEnabled = true;
                        receiveTelemetry();
                        addTelemetryListener();
                    });
            } else {
                receiveTelemetry();
                telemetryInterval = addTelemetryListener();
            }
        }

        function addLines(data) {

            // Set initial position
            if (data.length > 0) {
                map.setCenter(new google.maps.LatLng(data[0].latitude, data[0].longitude));
            }

            dataList = data;
            for (var i = 0; i < data.length; i++) {
                var position = new google.maps.LatLng(data[i].latitude, data[i].longitude);

                var path = poly.getPath();
                path.push(position);

                var marker = new google.maps.Marker({
                    position: position,
                    map: map,
                });
                markers.push(marker);

                marker.addListener('click',
                    ((marker, i) => {
                        return () => {
                            changeInfoWindow(map, marker, i);
                        }
                    })(marker, i));


            }
            telemetryReceived = true; // Enable further send telemetry calls
        }

        function addNextLine(position, imageUrl = "") {
            // First sets
            if (!dataList.length) {
                map.setCenter(position);
            }

            var path = poly.getPath();
            path.push(position);

            var marker = new google.maps.Marker({
                position: position,
                map: map
                //animation: google.maps.Animation.DROP
            });

            markers.push(marker);
            var i = markers.length - 1;

            marker.addListener('click',
                ((marker, i) => {
                    return () => {
                        changeInfoWindow(map, marker, i);
                    }
                })(marker, i));

            dataList.push({
                latitude: position.lat(),
                longitude: position.lng(),
                imageUrl: imageUrl,
            });
            return {
                path: path,
                marker: marker
            };

        }

        function changeInfoWindow(map, marker, i) {
            var content = "";
            if (dataList[i].imageUrl.length > 0) {
                content += '<img src="' + dataList[i].imageUrl + '" style="width:300px;">';
            }
            content += "LAT: " + dataList[i].latitude + "; LNG: " + dataList[i].longitude + "<br/>";
            if (i != dataList.length - 1)
                content += "<br>TO NEXT: " +
                    calcLatLngDistance(dataList[i].latitude,
                        dataList[i].longitude,
                        dataList[i + 1].latitude,
                        dataList[i + 1].latitude) +
                    "";
            if (i != 0)
                content += "<br>TO LAST: " +
                    calcLatLngDistance(dataList[i].latitude,
                        dataList[i].longitude,
                        dataList[i - 1].latitude,
                        dataList[i - 1].latitude) +
                    "";

            infowindow.close(); // Close previously opened infowindow
            infowindow.setContent("<div id='infowindow'>" + content + "</div>");
            infowindow.open(map, marker);
        }

        function calcDistance(p1, p2) {
            return (google.maps.geometry.spherical.computeDistanceBetween(p1, p2) / 1000).toFixed(2);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@(mapsApiKey)&callback=initMap" async defer></script>



    <script type="text/javascript">

        //----
        // First of all, set up the timer
        if (!ignoreTimer) {
            function timer(key) {
                this.key = key;
                this.timerData = null;
                this.timerHours = 0;
                this.timerMinutes = 0;
                this.timerDays = 0;
            }

            timer.prototype.initialize = function() {
                @{
                    DateTime currentDate = Model.EndDate ?? DateTime.Now;
                    var timeOffset = (Model.StartDate != null ? Math.Floor((currentDate - (DateTime) Model.StartDate).TotalSeconds) : 0);
                }
                var timeOffset = @timeOffset;

                // Split the h:i:s
                this.timerHours = Math.floor(timeOffset / 3600);
                timeOffset -= this.timerHours * 3600;
                this.timerMinutes = Math.floor(timeOffset / 60);
                this.timerSeconds = Math.floor(timeOffset % 60);

                this.timerData = $(this.key);
            }
            timer.prototype.start = function() {
                var that = this;
                window.setInterval(function() {
                        that.timerSeconds++;
                        if (that.timerSeconds > 59) {
                            that.timerSeconds = 0;
                            that.timerMinutes++;
                            if (that.timerMinutes > 59) {
                                that.timerMinutes = 0;
                                that.timerHours++;
                            }
                        }
                        that.timerData.html("" +(that.timerHours) +":" +(that.timerMinutes) +":" + (that.timerSeconds) +"");
                    },
                    1000);
            }
            timer.prototype.update = function() {
                this.timerSeconds++;
                if (this.timerSeconds > 59) {
                    this.timerSeconds = 0;
                    this.timerMinutes++;
                    if (this.timerMinutes > 59) {
                        this.timerMinutes = 0;
                        this.timerHours++;
                    }
                }
                this.timerData.html("" +(this.timerHours) +":" +(this.timerMinutes) +":" +(this.timerSeconds) +"");
            }
            //---
        
            var wTimer = new timer("#timer");
            if (activityStatus > 0) {
                wTimer.initialize();
                if (activityStatus == 1) {
                    wTimer.start();
                } else {
                    wTimer.update();
                }
            }
        }
        function calcLatLngDistance(lat1, lon1, lat2, lon2) {
            var R = 6371; // km
            var dLat = (lat2 - lat1) * Math.PI / 180;
            var dLon = (lon2 - lon1) * Math.PI / 180;
            var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(lat1 * Math.PI / 180) *
                Math.cos(lat2 * Math.PI / 180) *
                Math.sin(dLon / 2) *
                Math.sin(dLon / 2);
            var c = 2 * Math.asin(Math.sqrt(a));
            var d = R * c;
            return d;
        }




        // Is GeoLocation set or enavbled?
        function addTelemetryListener() {
            if (activityStatus != 1) {
                return;
            }

            var int = null;
            if (navigator.geolocation && !isOrganizer) {
                int = window.setInterval(getGeolocation, telemetryTimer * 1000);
                getGeolocation();
            } else if (isOrganizer) {
                setTelemetryStreamer();
            }
            return int;
        }

        function getGeolocation() {
            if (!alwaysSimulateMovement && navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(sendTelemetry,
                    function(e) {
                        // Failed.
                        if (simulateMovement) {
                            var position = {};
                            position.coords = {};
                            position.coords.latitude = 45.900 + Math.random();
                            position.coords.longitude = 12.60 + Math.random();

                            sendTelemetry(position);
                        }
                    });
            } else if (simulateMovement) {
                simulateTelemetry();
            }
        }

        function simulateTelemetry() {
            var position = {};
            position.coords = {};
            position.coords.latitude = 45.900 + Math.random();
            position.coords.longitude = 12.60 + Math.random();
            sendTelemetry(position);
        }

        // Streaming di dati telemetrici
        function setTelemetryStreamer() {
            var responses = new signalR.HubConnectionBuilder().withUrl("/toorganizer").build();
            responses.on("OrganizerStream",
                (position) => {
                    var objPos = new google.maps.LatLng(position.latitude, position.longitude);
                    if (position.imageUrl) position.imageUrl = "data:image/png;base64," + position.imageUrl;
                    var markData = addNextLine(objPos, position.imageUrl);
                });
            responses.start();
        }

        // Receive all the previous telemetry points
        // And add them to the map (lines)
        function receiveTelemetry() {
            $.ajax({
                type: "GET",
                url: receiveTelemetryEndpoint,
                dataType: "json",
                success: function(res) {
                    addLines(res);
                },
            });
        }

        function sendTelemetry(position) {
            if (!telemetryReceived) {
                return;
            }

            var xImage = imageData;
            imageData = "";
            $("#curPos").html("LAT: '" + position.coords.latitude + "'; LNG: '" + position.coords.longitude + "'");
            $.ajax({
                type: "POST",
                url: sendTelemetryEndpoint,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    latitude: position.coords.latitude,
                    longitude: position.coords.longitude,
                    image: xImage, // takeSnapshot(), // base64
                    instant: new Date().toISOString(),
                }),
                dataType: "json",
            }).done((position) => {
                // Add the position data to the map
                if (position.coords !== undefined) {
                    var objPos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    if (position.imageUrl) position.imageUrl = "data:image/png;base64," + position.imageUrl;
                    var markData = addNextLine(objPos, position.imageUrl);
                } else if (position.error) {
                    // Disallowed, do not attempt reconnecting
                    window.clearInterval(telemetryInterval);
                }
            });
        }

        function takeSnapshot() {
            if (!enableImageUpload) {
                return "";
            }


            var img = document.querySelector('img') || document.createElement('img');
            var context;
            var width = video.offsetWidth, height = video.offsetHeight;

            canvas = canvas || document.createElement('canvas');
            canvas.width = width;
            canvas.height = height;

            context = canvas.getContext('2d');

            if (cameraEnabled) {
                context.drawImage(video, 0, 0, width, height);
                return canvas.toDataURL(); // base64
            } else {
                return defaultImages[Math.floor(Math.random() * 4)];
            }
        }

        $('#takePicture').on('click',
            () => {
                imageData = takeSnapshot();
                $("#curPos").html("OK!<br><img src=\"data:image/png;base64," + imageData + "\">");
            });


        if (!cameraEnabled) {
            defaultImages = [
                "@ViewData["Default0"]",
                "@ViewData["Default1"]"
            ];
            defaultImages[2] = defaultImages[0];
            defaultImages[3] = defaultImages[1];
        }
    </script>

}